<section class="page-section page-section--pt-sm pb-0">
	<div class="container-xxl">
		<div class="row">
			<div class="col-12 col-md-6 mb-4">
				<h1 class="h1 mb-3 pb-1">
					The one-stop shop service
					for managing trademark
					portfolios worldwide
				</h1>
				<p class="pb-1 paragraph paragraph-lg mb-3">
					Easy and affordable trademark portfolio management – docket, search, monitor, and request actions
					with
					the trademarks in one place.
				</p>
				<div class="d-flex">
					<a href="#" class="btn btn-danger me-3">Enter the account</a>
					<a href="#" class="btn btn-video ms-1">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="12" cy="12" r="12" fill="#D80202"/>
							<path d="M9.59998 16.5V7.5L15.6 12L9.59998 16.5Z" fill="white"/>
						</svg>
						<span class="ms-2">Watch demo</span>
					</a>
				</div>
				<div class="row d-none d-lg-flex mt-5 pt-xxl-2">
					<div class="col-auto">
						<img src="../img/advantage-1.png" srcset="../img/advantage-1.png 1x, ../img/advantage@2-1.png 2x" alt="advantage-1"/>
					</div>
					<div class="col-auto">
						<img src="../img/advantage-2.png"
							 srcset="../img/advantage-2.png 1x, ../img/advantage@2-2.png 2x" alt="advantage-2"/>
					</div>
					<div class="col-auto">
						<img src="../img/advantage-3.png"
							 srcset="../img/advantage-3.png 1x, ../img/advantage@2-3.png 2x" alt="advantage-3"/>
					</div>
					<div class="col-auto">
						<img src="../img/advantage-4.png"
							 srcset="../img/advantage-4.png 1x, ../img/advantage@2-4.png 2x"  alt="advantage-4"/>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<img src="../img/top-banner.png"
					 srcset="../img/top-banner.png 1x, ../img/top-banner@2.png 2x"
					 width="840"
					 height="600"
					 alt="pocket-ip app"/>
			</div>
		</div>
	</div>
</section>
