<section class="page-section pt-0">
	<div class="container-lg ">
		<div class="row align-items-center justify-content-between justify-content-lg-center  mb-2 mb-xxl-2">
			<div class="col-auto">
				<h2 class="h2 section-h2">Our blog</h2>
			</div>
			<div class="col-auto d-block d-lg-none">
				<a href="/blog.html" class="link link-icon">
					<span>Read blog</span>
					<svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z" fill="#504EF3"/>
					</svg>
				</a>
			</div>
		</div>
		<div class="slider slider-card">
			<div class="slider__wrapper">
				<div class="card card-bordered h-100  d-flex flex-column ">
					<img src="img/blog-1.jpg" class="card-img" alt="Heading news">
					<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
						<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
							<div class="avatar">
								<img src="img/avatar.png" alt="avatar">
								<div><span>Savannah Nguyen</span></div>
							</div>
							<div class="card-date">01.01.2001, 14:40</div>
						</div>
						<h5 class="h3 mb-2 pb-xxl-1">Heading new Heading news Heading newss</h5>
						<div class="mt-auto">
							<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam faucibus
								at.
								Aliquam lacus
								nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
							<a href="/blog.html" class="link link-icon">
								<span>Read blog</span>
								<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
									 xmlns="http://www.w3.org/2000/svg">
									<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
										  fill="#504EF3"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="card card-bordered h-100  d-flex flex-column ">
					<img src="img/blog-2.jpg" class="card-img" alt="Heading news">
					<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
						<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
							<div class="avatar">
								<img src="img/avatar.png" alt="avatar">
								<div><span>Savannah Nguyen</span></div>
							</div>
							<div class="card-date">01.01.2001, 14:40</div>
						</div>
						<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
						<div class="mt-auto">
							<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam faucibus
								at.
								Aliquam lacus
								nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
							<a href="/blog.html" class="link link-icon">
								<span>Read blog</span>
								<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
									 xmlns="http://www.w3.org/2000/svg">
									<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
										  fill="#504EF3"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="card card-bordered h-100 d-flex flex-column">
					<img src="img/blog-3.jpg" class="card-img" alt="Heading news">
					<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
						<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
							<div class="avatar">
								<img src="img/avatar.png" alt="avatar">
								<div><span>Savannah Nguyen</span></div>
							</div>
							<div class="card-date">01.01.2001, 14:40</div>
						</div>
						<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
						<div class="mt-auto">
							<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam faucibus
								at.
								Aliquam lacus
								nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
							<a href="/blog.html" class="link link-icon">
								<span>Read blog</span>
								<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
									 xmlns="http://www.w3.org/2000/svg">
									<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
										  fill="#504EF3"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="slider__controls">
				<div class="slider__dots"></div>
			</div>
		</div>
		<div class="row justify-content-center d-none d-lg-flex mt-3">
			<div class="col-auto">
				<a href="/blog.html" class="btn btn-primary">Read blog</a>
			</div>
		</div>
	</div>
</section>
