<section class="page-section">
	<div class="container-lg">
		<div class="row ">
			<div class="col-12 mb-sm-3 pb-sm-1 mb-lg-4 pb-lg-3 ">
				<h2 class="h2 section-h2">How Trademark Software Works</h2>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xxl-5 justify-content-center">
			<div class="col col-s mt-3 pt-1 mt-sm-0 pt-sm-0 d-flex">
				<div class="box box--radius-lg box--white box--shadow">
					<div class="box box--sm box--radius-sm box--red w-auto d-inline-flex justify-content-center mb-3">
						<img src="../img/icons/ic-hit-1.svg" alt="">
					</div>
					<p class="subtitle-2 mb-2">Integrate portfolio automatically</p>
					<p class="paragraph-sm">Make your trademark records fast and easy – all the data will automatically
						be uploaded from official registers. It’s no need to do it manually!</p>
				</div>
			</div>
			<div class="col col-s mt-3 pt-1 mt-sm-0 pt-sm-0 d-flex">
				<div class="box box--radius-lg box--white box--shadow">
					<div class="box box--sm box--radius-sm box--red w-auto d-inline-flex justify-content-center mb-3">
						<img src="../img/icons/ic-hit-2.svg" alt="">
					</div>
					<p class="subtitle-2 mb-2">Docketing with automatically updated statuses </p>
					<p class="paragraph-sm">The trademark registrations and applications are tied with records
						in official trademark databases.</p>
				</div>
			</div>
			<div class="col col-s mt-3 pt-1 mt-md-0 pt-md-0 d-flex">
				<div class="box box--radius-lg box--white box--shadow">
					<div class="box box--sm box--radius-sm box--red w-auto d-inline-flex justify-content-center mb-3">
						<img src="../img/icons/ic-hit-3.svg" alt="">
					</div>
					<p class="subtitle-2 mb-2">Prepare reports, work in teams</p>
					<p class="paragraph-sm">Upload the trademark portfolio reporting and search results in
						convenient formats. Create teams within the service and share objects and tasks.</p>
				</div>
			</div>
			<div class="col col-s mt-3 pt-1 mt-xxl-0 pt-xxl-0 d-flex">
				<div class="box box--radius-lg box--white box--shadow">
					<div class="box box--sm box--radius-sm box--red w-auto d-inline-flex justify-content-center mb-3">
						<img src="../img/icons/ic-hit-3.svg" alt="">
					</div>
					<p class="subtitle-2 mb-2">Make searches and monitoring</p>
					<p class="paragraph-sm">Integrated national and international databases provide option to
						make searches and create goals for monitoring in different countries.</p>
				</div>
			</div>
			<div class="col col-s mt-3 pt-1 mt-xxl-0 pt-xxl-0 d-flex">
				<div class="box box--radius-lg box--white box--shadow">
					<div class="box box--sm box--radius-sm box--red w-auto d-inline-flex justify-content-center mb-3">
						<img src="../img/icons/ic-hit-3.svg" alt="">
					</div>
					<p class="subtitle-2 mb-2">Set the tasks</p>
					<p class="paragraph-sm">No need to find somewhere a lawyer to make trademark renewal,
						change trademark information, or file a trademark application – do it right here with a couple
						of clicks.</p>
				</div>
			</div>
		</div>
	</div>
</section>
