<section class="page-section pt-0">
	<div class="container-lg ">
		<div class="row justify-content-center">
			<div class="col col-xxl-6">
				<h2 class="h2 section-h2 mb-2 mb-xl-3 pb-xl-1">Reviews</h2>
			</div>
		</div>
		<div class="slider slider-card">
	<div class="slider__wrapper">
		<div class="box box--white box--shadow h-100 mb-1">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<div class="d-flex">
					<div class="avatar avatar-lg">
						<img src="img/avatar.png" alt="avatar">
						<div>
							<span>Savannah Nguyen</span>
							<span class="text-bold">Founder</span>
						</div>
					</div>
				</div>
				<a href="https://linkedin.com">
					<img src="../img/icons/ic-linkedin.svg" alt="">
				</a>
			</div>
			<p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate
				nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu
				vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices
				nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia.
				Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis
				nisi. Proin vitae facilisis nisi, ac posuere leo.</p>
		</div>
		<div class="box box--white box--shadow h-100 mb-1">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<div class="d-flex">
					<div class="avatar avatar-lg">
						<img src="img/avatar.png" alt="avatar">
						<div>
							<span>Savannah Nguyen</span>
							<span class="text-bold">Founder</span>
						</div>
					</div>
				</div>
				<a href="https://linkedin.com">
					<img src="../img/icons/ic-instagram.svg" alt="">
				</a>
			</div>
			<p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate
				nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu
				vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices
				nibh. Mauris sit amet magna i, ac posuere leo.</p>
		</div>
		<div class="box box--white box--shadow h-100 mb-1">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<div class="d-flex">
					<div class="avatar avatar-lg">
						<img src="img/avatar.png" alt="avatar">
						<div>
							<span>Savannah Nguyen</span>
							<span class="text-bold">Founder</span>
						</div>
					</div>
				</div>
				<a href="https://linkedin.com">
					<img src="../img/icons/ic-twitter.svg" alt="">
				</a>
			</div>
			<p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate
				nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu
				vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices
				nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia.
				Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis
				nisi. Proin vitae facilisis nisi, ac posuere leo.</p>
		</div>
		<div class="box box--white box--shadow h-100 mb-1">
			<div class="d-flex justify-content-between align-items-center mb-2">
				<div class="d-flex">
					<div class="avatar avatar-lg">
						<img src="img/avatar.png" alt="avatar">
						<div>
							<span>Savannah Nguyen</span>
							<span class="text-bold">Founder</span>
						</div>
					</div>
				</div>
				<a href="https://linkedin.com">
					<img src="../img/icons/ic-twitter.svg" alt="">
				</a>
			</div>
			<p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate
				nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu
				vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices
				nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia.
				Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis
				nisi. Proin vitae facilisis nisi, ac posuere leo.</p>
		</div>
	</div>
	<div class="slider__controls">
		<div class="slider__dots"></div>
	</div>
</div>
	</div>
</section>
