<section class="page-section ">
	<div class="container-lg">
		<h2 class="h2 section-h2 mb-4 mb-xl-5">Services</h2>
		<div class="row row-cols-1 row-cols-md-2">
			<div class="col d-flex flex-column mb-4 mb-xl-5">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-search.svg" alt="">
					</div>
					<div class="h3">Trademark search</div>
				</div>
				<p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="col d-flex flex-column mb-4 mb-xl-5">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-website.svg" alt="">
					</div>
					<div class="h3">Trademark application</div>
				</div>
				<p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="col d-flex flex-column mb-4 mb-md-0">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-renewal.svg" alt="">
					</div>
					<div class="h3">Trademark renewal</div>
				</div>
				<p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
			<div class="col d-flex flex-column">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-clipboard.svg" alt="">
					</div>
					<div class="h3">Trademark assignment</div>
				</div>
				<p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			</div>
		</div>
	</div>
</section>
