<section>
	<div class="container-lg">
		<div class="cta-block text-center p-md-4 p-lg-5">
			<div class="row justify-content-center py-xl-4">
				<div class="col-12 col-md-10 col-lg-8 col-xxl-7 px-xxl-5">
					<h2 class="h2 mb-3 mb-xxl-4">Subscribe to our newsletter</h2>
					<p class="paragraph mb-3 mb-xxl-4">
						Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut
						vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean
						feugiat ex eu vestibulum vestibulum.
					</p>
					<div class="form form-search">
						<form>
							<div class="form-search__container">
								<input type="text" placeholder="Your email"/>
								<input type="submit" value="Subscribe">
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

