<section class="page-section page-section--bg-grey">
	<div class="container-lg">
		<div class="row row-cols-1 row-cols-md-2">
			<div class="col d-flex mb-4">
				<h2 class="h2 section-h2">Why us?</h2>
			</div>
			<div class="col d-flex flex-column mb-4 mb-xl-5">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-document.svg" alt="">
					</div>
					<div class="h3">Docketing system</div>
				</div>
				<p class="m-0">Keep records of all IP objects in a unified convenient format with automatically updated
					statuses</p>
			</div>
			<div class="col d-flex flex-column mb-4 mb-xl-5">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-search.svg" alt="">
					</div>
					<div class="h3">Integrated search forms</div>
				</div>
				<p class="m-0">Conduct searches within TM databases of different countries and international
					registration systems in one place</p>
			</div>
			<div class="col d-flex flex-column mb-4 mb-xl-5">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-request.svg" alt="">
					</div>
					<div class="h3">Online application system</div>
				</div>
				<p class="m-0">All stages of finding a foreign lawyer and giving instructions in a few click
				</p>
			</div>
			<div class="col d-flex flex-column mb-4 mb-md-0">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-warning.svg" alt="">
					</div>
					<div class="h3">Alerting system</div>
				</div>
				<p class="m-0">Monitoring system allows to set up of notifications when applying for registration of
					similar trademarks. Analyze the trademark strategy of your competitors</p>
			</div>
			<div class="col d-flex flex-column">
				<div class="d-flex mb-2">
					<div class="me-3">
						<img src="./img/icons/ic-international.svg" alt="">
					</div>
					<div class="h3">Global coverage</div>
				</div>
				<p class="m-0">Managing intellectual property objects all over the world from one online account</p>
			</div>
		</div>
	</div>
</section>
