<div class="footer-nav">
	<ul>
		<li class="menu-item-has-children">
			<a>Company</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Roadmap</a></li>
				<li><a href="#">Integrations</a></li>
				<li><a href="#">Status</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">API</a></li>
			</ul>
		</li>
		<li class="menu-item-has-children">
			<a>Sections</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Roadmap</a></li>
				<li><a href="#">Integrations</a></li>
				<li><a href="#">Status</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">TM options2</a></li>
			</ul>
		</li>
		<li class="menu-item-has-children">
			<a>Free Tools</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
			</ul>
		</li>
	</ul>
</div>
