<footer class="footer">
	<div class="container-lg">
		<div class="row justify-content-lg-between">
			<div class="col-12 col-lg-3 mb-4 mb-lg-0 d-lg-flex flex-lg-column">
				<div class="mb-4">
					@@include("../main-logo/main-logo.html")
				</div>
				<div class="row row-cols-2 row-cols-lg-1 g-2 mb-4 ">
					<div class="col">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary w-100">Book a demo</a>
					</div>
					<div class="col">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary-outline w-100">Try for free</a>
					</div>
				</div>
				<div class="d-none d-lg-block mt-auto">
					<img
						src="../img/five.png"
						SRCSET="../img/five.png, ../img/five@2x.png 2x"
						alt="">
				</div>
			</div>
			<div class="col-12 col-lg-8">
				@@include("./footer-nav.html")
			</div>
			<div class="col-12">
				<div class="d-lg-flex justify-content-between footer__copy">
					<ul>
						<li>Copyright 2022</li>
						<li>All Rights Reserved By PocketIP Ltd</li>
						<li><a href="http://">Terms of Service</a></li>
						<li><a href="http://">Disclaimer</a></li>
						<li><a href="http://">Sitemap</a></li>
						<li><a href="http://">Privacy Policy</a></li>
					</ul>
					<div class="footer__social">
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-facebook.svg)" title="pocket-ip facebook">
							pocket-ip facebook
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-twitter.svg)" title="pocket-ip twitter">
							pocket-ip twitter
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-linkedin.svg)" title="pocket-ip linkedin">
							pocket-ip linkedin
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-youtube-logo.svg)" title="pocket-ip youtube">
							pocket-ip youtube
						</a>
					</div>
					<div class="d-block d-lg-none mt-3 mt-lg-0">
						<img
								src="../img/five.png"
								SRCSET="../img/five.png, ../img/five@2x.png 2x"
								alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="modal modal-submit js-modal-submit">
	<div class="position-relative modal-submit__content">
		<button type="button" class="btn modal__btn-close js-modal-btn-close">
			<img src=" img/icons/ic-close-modal.svg" alt="menu">
		</button>
		<div class="box box--white box--lg box--radius-lg text-center">
			<div class="h2  mb-3">Thank you </div>
			<div class="paragraph  mb-4">We have received your message </div>
			<button type="button" class="btn btn-primary js-modal-btn-close">
				Okey
			</button>
		</div>
	</div>
</div>
<div class="modal modal-search js-modal-search">
	<div class="position-relative modal-search__content box box--white box--radius-lg text-center">
		<button type="button" class="btn modal__btn-close js-modal-btn-close">
			<img src=" img/icons/ic-close-modal.svg" alt="menu">
		</button>
		<div class="h2  mb-3">Search</div>
		<div class="form form-search">
			<form class="modal-search-form">
				<div class="form-search__container">
					<input type="text" placeholder="Search"/>
					<input type="submit" value="Search">
				</div>
			</form>
		</div>
		<div class="modal-search__result">
		</div>
	</div>
</div>
