.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
.github
.env
.yarn/cache
.yarn/install-state.gz
ehthumbs.db
Thumbs.db
_config.yml
node_modules
dist
package-lock.json

.idea/deployment.xml
.idea/misc.xml
.idea/php.xml
.idea/vcs.xml
.idea/webServers.xml

