.form {
  br {
    display: none;
    visibility: hidden;
    position: absolute;
  }
  form {
    input:-webkit-autofill {
      box-shadow: inset 0 0 0 50px #fff !important;
    }
    input:invalid {
      box-shadow: none;
    }

    input,
    textarea {
      &::placeholder {
        font-family: 'HelveticaNow', sans-serif;;
        font-style: normal;
        font-weight: normal;
        font-size: rem(16);
        color: $grey-500;
        text-overflow: ellipsis;
        opacity: 1;
        line-height: calc(20/16);
        transition: all 0.3s ease;
      }

      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }

    textarea {
      resize: none;
      border: none;
      background-color: transparent;
      outline: #fff;
      width: 100%;
      display: block;
    }

    input:not([type="submit"]), textarea {
      background-color: #fff;
      border: 1px solid $grey-100;
      border-radius: 12px;
      outline: $white;
      padding: rem(16) rem(20);
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      line-height: 1.3;
      color: $black;
      &:focus {
        border-color: $primary;
      }

      &.wpcf7-not-valid {
        border-color: $red;
      }
    }

    input[type="submit"], button[type="submit"] {
      @extend .btn;
      @extend .btn-primary;
    }

    button[type="submit"] {
      &:before {
        content: '';
        display: none;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background-image: url('../img/icons/ic-loading.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
        animation: spin 2s linear infinite;
      }
    }

    &.submitting {
      button[type="submit"] {
        &:before {
          display: block;
        }
      }
    }
    .wpcf7-response-output {
      margin: 0;
      width: 100%;
    }

    .wpcf7-spinner {
      display: none;
      position: absolute;
      left: -9999px;
      width: 0;
      height: 0;
      visibility: hidden;
    }

    &.sent {
        .wpcf7-response-output {
          display: none;
          position: absolute;
          visibility: hidden;
          left: 9999px;
        }
    }
  }

  .wpcf7-not-valid-tip {
    color: $red;
    font-size: rem(12);
  }
}

.form-row {
  margin-top: rem(40);

  @include media-breakpoint-up(xl) {
    margin-top: rem(60);
  }
  @media (min-width: $media-2xl) {
    margin-top: rem(80);
  }
  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: rem(16);

    textarea {
      height: 120px;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      flex: 1;
      textarea {
        height: 54px;
      }
    }

    input[type="submit"], button[type="submit"] {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      @include media-breakpoint-down(lg) {
        width: 50%;
      }
    }

    .form-title {
      @extend .subtitle-1;
      flex-shrink: 0;
    }

    p {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1;
      @include media-breakpoint-up(lg) {
        flex-direction: row;
      }
    }
  }
}

.form-column {
  input[type="submit"], button[type="submit"] {
    width: 100%;
  }

  textarea {
    height: 120px;
  }

  form {
    input:not([type="submit"]), textarea {
        margin-bottom: 16px;
    }
  }

  .wpcf7-not-valid-tip {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: -8px;
    margin-bottom: 8px;
  }

  .wpcf7-response-output {
    margin-top: 16px!important;
  }
}

.form-search {

  &__container{
    position: relative;
  }

  form {
    input:not([type="submit"], button[type="submit"]){
      padding-right: 120px;
    }
    input[type="submit"] {
      position: absolute;
      right: 0;
      top: 0;
      height: 55px;
    }
  }
}


@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
