.avatar {
  display: flex;
  align-items: center;


  img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: block;
    object-fit: cover;
  }
  div {
    margin-left: 8px;
    display: flex;
    flex-direction: column;

    span {
      font-size: rem(12);
      @include media-breakpoint-up(xxl) {
        font-size: rem(14);
      }
    }

  }

  &-lg {
    img {
      width: 56px;
      height: 56px;
    }
  }

}
