<section>
	<h3 class="h3 mb-3">The service is available for countries:</h3>
	<div class="d-flex flex-wrap gap-1 gap-xl-2 js-country-tags">
		@@include("./country-tag.html", {"code": "ua", "name": "Ukraine", "isLink": true, "size": "lg"})
		@@include("./country-tag.html", {"code": "ca", "name": "Canada", "isLink": true, "size": "lg"})
		@@include("./country-tag.html", {"code": "ge", "name": "Germany", "isLink": true, "size": "lg"})
		@@include("./country-tag.html", {"code": "fr", "name": "France", "isLink": true, "size": "lg"})
		@@include("./country-tag.html", {"code": "ua", "name": "Ukraine", "isLink": true, "size": "lg"})
		@@include("./country-tag.html", {"code": "ca", "name": "Canada", "isLink": true, "size": "lg"})
		@@include("./country-tag.html", {"code": "ge", "name": "Germany", "isLink": true, "size": "lg"})
		@@include("./country-tag.html", {"code": "fr", "name": "France", "isLink": true, "size": "lg"})
	</div>
</section>

