@import "header/index";
@import "buttons/index";
@import "box/box";
@import "cta-block/cta-block";
@import "slider/slider";
@import "faq/faq";
@import "form/form";
@import "link/link";
@import "card/card";
@import "avatar/avatar";
@import "footer/footer";
@import "main-logo/main-logo";
@import "breadcrums/breadcrums";
@import "country-tag/index";
@import "pagination/pagination";
@import "modal/modal";


.award {
  img {
    max-height: 120px;
  }
}

.advantages {
  img {
    width: 72px;
    height: 80px;
  }
}

.list {
  padding: rem(4) 0;
  margin: 0;
  list-style: none;
  font-size: rem(20);
  line-height: calc(32 / 20);

  a {
    display: block;
    padding: rem(16) 0;

    &:hover {
      font-weight: bold;
    }
  }

  &-divider {
    li:not(:last-child) {
      border-bottom: 1px solid $grey-100;
    }
  }
}
