<div class="slider slider-card">
	<div class="slider__wrapper">
		<div class="box box--white box--shadow content h-100">
			<div class="mb-3"><img src="./img/spacex.png" alt="spacex "></div>
			<div class="subtitle-1 mb-2">Heading case</div>
			<p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate
				nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu
				vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices
				nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia.
				Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis
				nisi. Proin vitae facilisis nisi, ac posuere leo.</p>
			<p>
				Nam pulvinar blandit velit, id condimentum diam faucibus at. Aliquam lacus nisi, sollicitudin at nisi
				nec, fermentum congue felis. Quisque mauris dolor, fringilla sed tincidunt ac, finibus non odio. Sed
				vitae mauris nec ante pretium finibus. Donec nisl neque, pharetra ac elit eu, faucibus aliquam ligula.
			</p>
		</div><div class="box box--white box--shadow content h-100">
			<div class="mb-3"><img src="./img/spacex.png" alt="spacex "></div>
			<div class="subtitle-1 mb-2">Heading case</div>
			<p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate
				nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu
				vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices
				nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia.
				Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis
				nisi. Proin vitae facilisis nisi, ac posuere leo.</p>
			<p>
				Nam pulvinar blandit velit, id condimentum diam faucibus at. Aliquam lacus nisi, sollicitudin at nisi
				nec, fermentum congue felis. Quisque mauris dolor, fringilla sed tincidunt ac, finibus non odio. Sed
				vitae mauris nec ante pretium finibus. Donec nisl neque, pharetra ac elit eu, faucibus aliquam ligula.
			</p>
		</div>
		<div class="box box--white box--shadow content h-100">
			<div class="mb-3"><img src="./img/spacex.png" alt="spacex "></div>
			<div class="subtitle-1 mb-2">Heading case</div>
			<p>Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut vulputate
				nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean feugiat ex eu
				vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu mauris a, blandit ultrices
				nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla varius volutpat turpis sed lacinia.
				Nam eget mi in purus lobortis eleifend. Sed nec ante dictum sem condimentum ullamcorper quis venenatis
				nisi. Proin vitae facilisis nisi, ac posuere leo.</p>

		</div>
	</div>
	<div class="slider__controls">
		<div class="slider__dots"></div>
	</div>
</div>
