<!DOCTYPE html>
<html lang="en">
<head>
	@@include("../components/blocks/head/head.html")
</head>
<body>
@@include("../components/blocks/header/header.html")
<main>
	<section class="pt-3 pt-xl-3 mt-2 mt-lg-3 mb-80">
		<div class="container-lg">
			<div class="row">
				<div class="col-12 col-lg-4 ">
					<div class="breadcrumps d-block d-lg-none mb-2 mb-lg-0">
						<a href="/" class="breadcrumps__item">Main page</a>
						<span class="breadcrumps__separator">/</span>
						<a href="/blog.html" class="breadcrumps__item">News</a>
						<span class="breadcrumps__separator">/</span>
						<span class="breadcrumps__item">Savannah Nguyen</span>
					</div>
					<div class="avatar avatar-xl">
						<img src="img/avatar.png" alt="avatar author Savannah Nguyen">
					</div>
					<div class="h2 my-2 text-bolder">Savannah Nguyen</div>
					<div class="paragraph">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis
						molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem
						sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet
						feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
						himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut
						rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi
						convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.
					</div>
					<div class="d-flex align-items-center gap-2 mt-2 pt-1">
						<a href="https://linkedin.com" class="d-flex align-items-center gap-1">
							<img src="../img/icons/ic-linkedin.svg" alt="">
							<span class="ps-1">Linkedin</span>
						</a>
						<a href="https://facebook.com" class="d-flex align-items-center gap-1">
							<img src="../img/icons/ic-facebook.svg" alt="">
							<span class="ps-1">Facebook</span>
						</a>
					</div>


				</div>
				<div class="col-12 col-lg-8">
					<div class="breadcrumps d-none d-lg-block mb-2 mb-lg-0">
						<a href="/" class="breadcrumps__item">Main page</a>
						<span class="breadcrumps__separator">/</span>
						<a href="/blog.html" class="breadcrumps__item">News</a>
						<span class="breadcrumps__separator">/</span>
						<span class="breadcrumps__item">Savannah Nguyen</span>
					</div>
					<h1 class="h2 my-3">Last publications</h1>
					<div class="row row-cols-1 row-cols-md-2 gy-4">
						<!-- ON mobile display only 2 cols -->
						<div class="col">
							<div class="card card-bordered">
								<img src="img/blog-1.jpg" class="card-img" alt="Heading news">
								<div class="p-3 p-xxl-4">
									<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
										<div class="avatar">
											<img src="img/avatar.png" alt="avatar">
											<div><span>Savannah Nguyen</span></div>
										</div>
										<div class="card-date">01.01.2001, 14:40</div>
									</div>
									<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
									<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
										faucibus
										at.
										Aliquam lacus
										nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris
										dolo...</p>
									<a href="/blog.html" class="link link-icon">
										<span>Read blog</span>
										<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
											 xmlns="http://www.w3.org/2000/svg">
											<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
												  fill="#504EF3"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="card card-bordered">
								<img src="img/blog-1.jpg" class="card-img" alt="Heading news">
								<div class="p-3 p-xxl-4">
									<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
										<div class="avatar">
											<img src="img/avatar.png" alt="avatar">
											<div><span>Savannah Nguyen</span></div>
										</div>
										<div class="card-date">01.01.2001, 14:40</div>
									</div>
									<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
									<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
										faucibus
										at.
										Aliquam lacus
										nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris
										dolo...</p>
									<a href="/blog.html" class="link link-icon">
										<span>Read blog</span>
										<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
											 xmlns="http://www.w3.org/2000/svg">
											<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
												  fill="#504EF3"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="col d-none d-md-block">
							<div class="card card-bordered">
								<img src="img/blog-1.jpg" class="card-img" alt="Heading news">
								<div class="p-3 p-xxl-4">
									<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
										<div class="avatar">
											<img src="img/avatar.png" alt="avatar">
											<div><span>Savannah Nguyen</span></div>
										</div>
										<div class="card-date">01.01.2001, 14:40</div>
									</div>
									<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
									<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
										faucibus
										at.
										Aliquam lacus
										nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris
										dolo...</p>
									<a href="/blog.html" class="link link-icon">
										<span>Read blog</span>
										<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
											 xmlns="http://www.w3.org/2000/svg">
											<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
												  fill="#504EF3"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<div class="col d-none d-md-block">
							<div class="card card-bordered">
								<img src="img/blog-1.jpg" class="card-img" alt="Heading news">
								<div class="p-3 p-xxl-4">
									<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
										<div class="avatar">
											<img src="img/avatar.png" alt="avatar">
											<div><span>Savannah Nguyen</span></div>
										</div>
										<div class="card-date">01.01.2001, 14:40</div>
									</div>
									<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
									<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
										faucibus
										at.
										Aliquam lacus
										nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris
										dolo...</p>
									<a href="/blog.html" class="link link-icon">
										<span>Read blog</span>
										<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
											 xmlns="http://www.w3.org/2000/svg">
											<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
												  fill="#504EF3"/>
										</svg>
									</a>
								</div>
							</div>
						</div>
						<!-- ON mobile display only 2 cols -->
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
@@include("../components/blocks/footer/footer.html")
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>
