<!DOCTYPE html>
<html lang="en">
<head>
	@@include("../components/blocks/head/head.html")
</head>
<body>
@@include("../components/blocks/header/header.html")
<main>
	<section class="pt-3 pt-xl-3 mt-2 mt-lg-3 mb-80">
		<div class="container-lg">
			<div class="row mb-80">
				<div class="col-12 col-lg-8">
					<div class="breadcrumps">
						<a href="/" class="breadcrumps__item">Main page</a>
						<span class="breadcrumps__separator">/</span>
						<a href="/blog.html" class="breadcrumps__item">News</a>
						<span class="breadcrumps__separator">/</span>
						<span class="breadcrumps__item">Heading news</span>
					</div>
					<h1 class="h1 my-3">Heading news</h1>
					<div class="paragraph">
						Nam pulvinar blandit velit, id condimentum diam faucibus at. Aliquam lacus nisi,
						sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...
					</div>
					<div class="d-flex justify-content-between align-items-center my-3 my-xxl-4">
						<div class="avatar">
							<img src="img/avatar.png" alt="avatar">
							<div><span>Savannah Nguyen</span></div>
						</div>
						<div class="card-date">01.01.2001, 14:40</div>
					</div>
					<article class="content">
						<img src="../img/blog-post-1.jpg" alt="app2">
						<h2>Heading 2 news</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
							mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut
							interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class
							aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent
							auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse
							ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam
							sit amet lacinia. Aliquam in elementum tellus.
						</p>
						<p>
							Curabitur tempor quis eros tempus lacinia. Nam bibendum pellentesque quam a convallis. Sed ut
							vulputate nisi. Integer in felis sed leo vestibulum venenatis. Suspendisse quis arcu sem. Aenean
							feugiat ex eu vestibulum vestibulum. Morbi a eleifend magna. Nam metus lacus, porttitor eu
							mauris a, blandit ultrices nibh. Mauris sit amet magna non ligula vestibulum eleifend. Nulla
							varius volutpat turpis sed lacinia. Nam eget mi in purus lobortis eleifend. Sed nec ante dictum
							sem condimentum ullamcorper quis venenatis nisi. Proin vitae facilisis nisi, ac posuere leo.
						</p>
						<p>
							Nam pulvinar blandit velit, id condimentum diam faucibus at. Aliquam lacus nisi, sollicitudin at
							nisi nec, fermentum congue felis. Quisque mauris dolor, fringilla sed tincidunt ac, finibus non
							odio. Sed vitae mauris nec ante pretium finibus. Donec nisl neque, pharetra ac elit eu, faucibus
							aliquam ligula. Nullam dictum, tellus tincidunt tempor laoreet, nibh elit sollicitudin felis,
							eget feugiat sapien diam nec nisl. Aenean gravida turpis nisi, consequat dictum risus dapibus a.
							Duis felis ante, varius in neque eu, tempor suscipit sem. Maecenas ullamcorper gravida sem sit
							amet cursus. Etiam pulvinar purus vitae justo pharetra consequat. Mauris id mi ut arcu feugiat
							maximus. Mauris consequat tellus id tempus aliquet.
						</p>
						<p>
							Vestibulum dictum ultrices elit a luctus. Sed in ante ut leo congue posuere at sit amet ligula.
							Pellentesque eget augue nec nisl sodales blandit sed et sem. Aenean quis finibus arcu, in
							hendrerit purus. Praesent ac aliquet lorem. Morbi feugiat aliquam ligula, et vestibulum ligula
							hendrerit vitae. Sed ex lorem, pulvinar sed auctor sit amet, molestie a nibh. Ut euismod nisl
							arcu, sed placerat nulla volutpat aliquet. Ut id convallis nisl. Ut mauris leo, lacinia sed elit
							id, sagittis rhoncus odio. Pellentesque sapien libero, lobortis a placerat et, malesuada sit
							amet dui. Nam sem sapien, congue eu rutrum nec, pellentesque eget ligula.
						</p>
					</article>
				</div>
				<div class="d-none d-lg-block col-12 col-lg-4 ps-4">
					<div class="subtitle-1 mb-3">Other news</div>
					<div class="card card-bordered  mb-4">
						<img src="img/blog-1.jpg" class="card-img" alt="Heading news">
						<div class="p-3 p-xxl-4">
							<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
								<div class="avatar">
									<img src="img/avatar.png" alt="avatar">
									<div><span>Savannah Nguyen</span></div>
								</div>
								<div class="card-date">01.01.2001, 14:40</div>
							</div>
							<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
							<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam faucibus at.
								Aliquam lacus
								nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
							<a href="/blog.html" class="link link-icon">
								<span>Read blog</span>
								<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
									 xmlns="http://www.w3.org/2000/svg">
									<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
										  fill="#504EF3"/>
								</svg>
							</a>
						</div>
					</div>
					<div class="card card-bordered ">
						<img src="img/blog-1.jpg" class="card-img" alt="Heading news">
						<div class="p-3 p-xxl-4">
							<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
								<div class="avatar">
									<img src="img/avatar.png" alt="avatar">
									<div><span>Savannah Nguyen</span></div>
								</div>
								<div class="card-date">01.01.2001, 14:40</div>
							</div>
							<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
							<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam faucibus at.
								Aliquam lacus
								nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
							<a href="/blog.html" class="link link-icon">
								<span>Read blog</span>
								<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
									 xmlns="http://www.w3.org/2000/svg">
									<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
										  fill="#504EF3"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
@@include("../components/blocks/footer/footer.html")
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>
