<!DOCTYPE html>
<html lang="en">
<head>
	@@include("../components/blocks/head/head.html")
</head>
<body>
@@include("../components/blocks/header/header.html")
<main>
	<div class="container-lg pt-3 pt-xl-4 mt-2 mt-lg-3 mb-3 mb-lg-5 pb-3 pb-lg-5">
		<div class="row  justify-content-lg-center mb-4 pb-xxl-3">
			<div class="col-auto mb-2 p-1">
				<div class="breadcrumps">
					<a href="/" class="breadcrumps__item">Main page</a>
					<!-- /.breadcrumps__item -->
					<span class="breadcrumps__separator">/</span>
					<!-- /.breadcrumps__separator -->
					<span class="breadcrumps__item">Our blog</span>
					<!-- /.breadcrumps__item -->
				</div>
				<!-- /.breadcrumps -->
			</div>
			<div class="col-12 ">
				<h1 class="h1 text-md-center">Our blog</h1>
			</div>
		</div>
		<div class="row gy-4">
			<div class="col-12 col-md-6 col-lg-4">
				<div class="px-xl-1 h-100">
					<div class="card card-bordered h-100 d-flex flex-column">
						<img src="img/blog-3.jpg" class="card-img" alt="Heading news">
						<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
							<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
								<div class="avatar">
									<img src="img/avatar.png" alt="avatar">
									<div><span>Savannah Nguyen</span></div>
								</div>
								<div class="card-date">01.01.2001, 14:40</div>
							</div>
							<h5 class="h3 mb-2 pb-xxl-1">Heading news</h5>
							<div class="mt-auto">
								<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
									faucibus
									at.
									Aliquam lacus
									nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
								<a href="/blog.html" class="link link-icon">
									<span>Read blog</span>
									<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
										 xmlns="http://www.w3.org/2000/svg">
										<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
											  fill="#504EF3"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="px-xl-1 h-100">
					<div class="card card-bordered h-100 d-flex flex-column">
						<img src="img/blog-3.jpg" class="card-img" alt="Heading news">
						<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
							<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
								<div class="avatar">
									<img src="img/avatar.png" alt="avatar">
									<div><span>Savannah Nguyen</span></div>
								</div>
								<div class="card-date">01.01.2001, 14:40</div>
							</div>
							<h5 class="h3 mb-2 pb-xxl-1">Heading news Heading news Heading news</h5>
							<div class="mt-auto">
								<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
									faucibus
									at.
									Aliquam lacus
									nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
								<a href="/blog.html" class="link link-icon">
									<span>Read blog</span>
									<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
										 xmlns="http://www.w3.org/2000/svg">
										<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
											  fill="#504EF3"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="px-xl-1 h-100">
					<div class="card card-bordered h-100 d-flex flex-column">
						<img src="img/blog-3.jpg" class="card-img" alt="Heading news">
						<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
							<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
								<div class="avatar">
									<img src="img/avatar.png" alt="avatar">
									<div><span>Savannah Nguyen</span></div>
								</div>
								<div class="card-date">01.01.2001, 14:40</div>
							</div>
							<h5 class="h3 mb-2 pb-xxl-1">Heading news Heading news Heading news</h5>
							<div class="mt-auto">
								<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
									faucibus
									at.
									Aliquam lacus
									nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
								<a href="/blog.html" class="link link-icon">
									<span>Read blog</span>
									<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
										 xmlns="http://www.w3.org/2000/svg">
										<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
											  fill="#504EF3"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="px-xl-1 h-100">
					<div class="card card-bordered h-100 d-flex flex-column">
						<img src="img/blog-3.jpg" class="card-img" alt="Heading news">
						<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
							<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
								<div class="avatar">
									<img src="img/avatar.png" alt="avatar">
									<div><span>Savannah Nguyen</span></div>
								</div>
								<div class="card-date">01.01.2001, 14:40</div>
							</div>
							<h5 class="h3 mb-2 pb-xxl-1">Heading news Heading news Heading news</h5>
							<div class="mt-auto">
								<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
									faucibus
									at.
									Aliquam lacus
									nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
								<a href="/blog.html" class="link link-icon">
									<span>Read blog</span>
									<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
										 xmlns="http://www.w3.org/2000/svg">
										<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
											  fill="#504EF3"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="px-xl-1 h-100">
					<div class="card card-bordered h-100 d-flex flex-column">
						<img src="img/blog-3.jpg" class="card-img" alt="Heading news">
						<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
							<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
								<div class="avatar">
									<img src="img/avatar.png" alt="avatar">
									<div><span>Savannah Nguyen</span></div>
								</div>
								<div class="card-date">01.01.2001, 14:40</div>
							</div>
							<h5 class="h3 mb-2 pb-xxl-1">Heading news Heading news Heading news</h5>
							<div class="mt-auto">
								<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
									faucibus
									at.
									Aliquam lacus
									nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
								<a href="/blog.html" class="link link-icon">
									<span>Read blog</span>
									<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
										 xmlns="http://www.w3.org/2000/svg">
										<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
											  fill="#504EF3"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-4">
				<div class="px-xl-1 h-100">
					<div class="card card-bordered h-100 d-flex flex-column">
						<img src="img/blog-3.jpg" class="card-img" alt="Heading news">
						<div class="p-3 p-xxl-4 d-flex flex-column flex-grow-1">
							<div class="d-flex justify-content-between align-items-center mb-2 pb-xxl-1">
								<div class="avatar">
									<img src="img/avatar.png" alt="avatar">
									<div><span>Savannah Nguyen</span></div>
								</div>
								<div class="card-date">01.01.2001, 14:40</div>
							</div>
							<h5 class="h3 mb-2 pb-xxl-1">Heading news Heading news Heading news</h5>
							<div class="mt-auto">
								<p class="paragraph mb-2 pb-xxl-1">Nam pulvinar blandit velit, id condimentum diam
									faucibus
									at.
									Aliquam lacus
									nisi, sollicitudin at nisi nec, fermentum congue felis. Quisque mauris dolo...</p>
								<a href="/blog.html" class="link link-icon">
									<span>Read blog</span>
									<svg width="7" height="12" viewBox="0 0 7 12" fill="none"
										 xmlns="http://www.w3.org/2000/svg">
										<path d="M0.37165 0.235013C0.684775 -0.0783368 1.18961 -0.0783368 1.50273 0.235012L6.81308 5.54916C7.06231 5.79856 7.06231 6.20144 6.81308 6.45084L1.50274 11.765C1.18961 12.0783 0.684776 12.0783 0.371651 11.765C0.0585251 11.4516 0.0585251 10.9464 0.371651 10.6331L4.99824 5.9968L0.36526 1.36051C0.0585257 1.05356 0.0585242 0.541967 0.37165 0.235013Z"
											  fill="#504EF3"/>
									</svg>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center  mt-4 pt-xxl-3">
			<!-- Затилю  после вівода -->
			<div class="col-auto">
				<nav class="pagination" role="navigation">
					<span aria-current="page" class="page-numbers current">1</span>
					<a class="page-numbers" href="https://www.kykilab.com/news/page/2/">2</a>
					<a class="page-numbers" href="https://www.kykilab.com/news/page/3/">3</a>
					<a class="next page-numbers" href="https://www.kykilab.com/news/page/2/">-&gt;</a>
				</nav>
			</div>

		</div>
	</div>
</main>
@@include("../components/blocks/footer/footer.html")
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>
