<!DOCTYPE html>
<html lang="en">
<head>
	@@include("../components/blocks/head/head.html")
</head>
<body>
@@include("../components/blocks/header/header.html")
<main>
	<section class="container-lg pt-3 pt-xxl-4 mt-2 mt-xxl-3 mb-0 mb-xxl-4 pb-0 pb-xxl-3">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xxl-8">
				<div class="row">
					<div class="col-auto mb-2 pb-1">
						<div class="breadcrumps">
							<a href="/" class="breadcrumps__item">Main page</a>
							<!-- /.breadcrumps__item -->
							<span class="breadcrumps__separator">/</span>
							<!-- /.breadcrumps__separator -->
							<span class="breadcrumps__item">Company</span>
							<!-- /.breadcrumps__item -->
						</div>
						<!-- /.breadcrumps -->
					</div>
					<div class="col-12 mb-3">
						<h1 class="h1">Company</h1>
					</div>
					<article class="col-12 content">
						<p>
							Businesses present in the markets of several countries, and their lawyers are faced with the
							problem of the difficulty of accounting for their intellectual property rights objects.
						</p>
						<p>
							The principle of extraterritoriality does not apply to object of industrial property
							(trademarks, patents) – the rights to them are valid only in the country where they have
							passed the official registration procedure. Therefore, any company that has several TM or
							patents in its portfolio and operates in several countries is faced with the problem of
							managing its assets – even one TM is thus transformed into dozens or hundreds of different
							objects that are regulated by various national laws and exist in the business space of
							different countries.
						</p>
						<h2>What are we doing?</h2>
						<p>
							Because of this, it is not uncommon for companies to “lose” their trademarks – information
							about registration documents are lost, accurate information about the owner, and the
							deadlines for renewing the rights to a trademark are missed.
						</p>
						<p>
							The Pocket IP docketing system allows easily enter information about TM and patents by
							uploading data from national and international registration systems to a personal account,
							keep records of all objects in a single convenient format, automatically update information
							about the IP objects, taking into account the data of possible license agreements, enable
							the alerting function in case of attempts to unlawfully register similar TM, quickly give
							instructions to lawyers in other countries.
						</p>
						<h2>Values</h2>
						<p>
							The principle of extraterritoriality does not apply to object of industrial property
							(trademarks, patents) – the rights to them are valid only in the country where they have
							passed the official registration procedure. Therefore, any company that has several TM or
							patents in its portfolio and operates in several countries is faced with the problem of
							managing its assets – even one TM is thus transformed into dozens or hundreds of different
							objects that are regulated by various national laws and exist in the business space of
							different countries.
						</p>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section class="page-section pt-0">
		<div class="roadmap">
			<div class="container-lg">
				<div class="row justify-content-center">
					<div class="col col-xxl-6">
						<h2 class="h2 section-h2 mb-3 mb-xl-4 pb-xl-3">Roadmap</h2>
					</div>
				</div>
				<div class="roadmap__wrapper">
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Create free account</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Create free account</div>
								<div class="roadmap__step-title">Step 1</div>
								<div class="roadmap__step-text">Sign up and try our service for free during the
									trial
									period.
									Book a
									meeting with our expert if you have questions about Pocket IP
								</div>
							</div>
						</div>
					</div><!-- roadmap__card-->
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Integrate trademark portfolio</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Integrate trademark portfolio</div>
								<div class="roadmap__step-title">Step 2</div>
								<div class="roadmap__step-text">Create the trademark records in a couple of clicks
									by
									integrating data from official databases. Our experts could make it as well upon
									your
									request.
								</div>
							</div>
						</div>
					</div>
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Manage your portfolio worldwide</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Manage your portfolio worldwide</div>
								<div class="roadmap__step-title">Step 3</div>
								<div class="roadmap__step-text">Use the Pocket IP to manage your trademarks
									worldwide –
									automatically updated trademark and application statuses, trademark accounting,
									searches,
									and monitoring, filing a new trademark application, etc.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container-lg">
		<h2 class="section-h2 mb-3 mb-xl-4 pb-xl-3">
			Team
		</h2>
		<div class="row row-cols-1 row-cols-md-3 gy-3 g-md-2 g-lg-3 mb-4 mb-xxl-5 pb-3 pb-xxl-4">
			<div class="col d-flex flex-column">
				<div class="box box--md box--bordered text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="avatar avatar-xl mb-1">
							<img src="img/avatar-1.png" srcset="img/avatar-1.png 1x, img/avatar-1@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Floyd Miles</div>
						<p>Director</p>
						<a class="d-flex align-items-center gap-1" href="https://linkedin.com">
							<img src="../img/icons/ic-linkedin.svg" alt="" width="20" height="20">
							<p>Linkedin</p>
						</a>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div class="box box--md box--bordered text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="avatar avatar-xl mb-1">
							<img src="img/avatar-2.png" srcset="img/avatar-2.png 1x, img/avatar-2@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Darlene Robertson</div>
						<p>Director</p>
						<a class="d-flex align-items-center gap-1" href="https://linkedin.com">
							<img src="../img/icons/ic-linkedin.svg" alt="" width="20" height="20">
							<p>Linkedin</p>
						</a>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div class="box box--md box--bordered  text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="avatar avatar-xl mb-1">
							<img src="img/avatar-3.png" srcset="img/avatar-3.png 1x, img/avatar-3@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Marvin McKinney</div>
						<p>Director</p>
						<a class="d-flex align-items-center gap-1" href="https://linkedin.com">
							<img src="../img/icons/ic-linkedin.svg" alt="" width="20" height="20">
							<p>Linkedin</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<h2 class="section-h2 mb-3 mb-xl-4 pb-xl-3 pt-xxl-2">
			Awards, achievements
		</h2>
		<div class="row row-cols-1 row-cols-md-3 gy-3 g-md-2 g-lg-3 mb-4 mb-xxl-5 pb-3 pb-xxl-5">
			<div class="col d-flex flex-column">
				<div class="award box box--md box--bordered text-center h-100">
					<div class="d-flex flex-column align-items-center gap-2">
						<div class="mb-1">
							<img width="100%" height="120" src="img/awards-1.png" srcset="img/awards-1.png 1x, img/awards-1@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Top award</div>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div class="award box box--md box--bordered text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="mb-1">
							<img width="100%" height="120" src="img/awards-2.png" srcset="img/awards-2.png 1x, img/awards-2@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Awwwards</div>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div class="award box box--md box--bordered  text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="mb-1">
							<img width="100%" height="120" src="img/awards-4.jpeg"
								 alt="awards">
						</div>
						<div class="h3">Medal of honor</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
@@include("../components/blocks/footer/footer.html")
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>
