<!DOCTYPE html>
<html lang="en">
<head>
	@@include("../components/blocks/head/head.html")
</head>
<body>
	@@include("../components/blocks/header/header.html")
	<main>
		<div class="container-lg pt-3 pt-xl-4 mt-2 mt-lg-3 mb-3 mb-lg-5 pb-3 pb-lg-5">
			<div class="row  justify-content-lg-center mb-4 pb-xxl-3">
				<div class="col-auto mb-2 pb-1">
					<div class="breadcrumps">
						<a href="/" class="breadcrumps__item">Main page</a>
						<!-- /.breadcrumps__item -->
						<span class="breadcrumps__separator">/</span>
						<!-- /.breadcrumps__separator -->
						<span class="breadcrumps__item">Partners</span>
						<!-- /.breadcrumps__item -->
					</div>
					<!-- /.breadcrumps -->
				</div>
				<div class="col-12 ">
					<h1 class="h1 text-md-center">Partners</h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10 col-xxl-8">
					<div class="content">
						<p>
							Businesses present in the markets of several countries, and their lawyers are faced with the
							problem of the difficulty of accounting for their intellectual property rights objects.</p>
						<p>
							The principle of extraterritoriality does not apply to object of industrial property
							(trademarks,
							patents) – the rights to them are valid only in the country where they have passed the official
							registration procedure. Therefore, any company that has several TM or patents in its portfolio
							and
							operates in several countries is faced with the problem of managing its assets – even one TM is
							thus
							transformed into dozens or hundreds of different objects that are regulated by various national
							laws
							and exist in the business space of different countries.
						</p>
					</div>
				</div>
			</div>
			<div class="mt-4 pt-3 row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-4 g-md-3">
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-1.svg" alt="partner-1">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Youtube</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Ukraine", "code":"ua", isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-2.svg" alt="partner-2">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Google</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Germany", "code":"ge", isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-3.svg" alt="partner-3">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Samsung</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"France", "code":"fr", isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-4.svg" alt="partner-4">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Atlassian</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Canada", "code":"ca", isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-1.svg" alt="partner-1">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Youtube</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Ukraine", "code":"ua",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-2.svg" alt="partner-2">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Google</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Germany", "code":"ge",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-3.svg" alt="partner-3">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Samsung</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"France", "code":"fr",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-4.svg" alt="partner-4">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Atlassian</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Canada", "code":"ca",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-1.svg" alt="partner-1">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Youtube</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Ukraine", "code":"ua",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-2.svg" alt="partner-2">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Google</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Germany", "code":"ge",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-3.svg" alt="partner-3">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Samsung</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"France", "code":"fr",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-4.svg" alt="partner-4">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Atlassian</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Canada", "code":"ca",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-1.svg" alt="partner-1">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Youtube</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Ukraine", "code":"ua",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-2.svg" alt="partner-2">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Google</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Germany", "code":"ge",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-3.svg" alt="partner-3">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Samsung</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"France", "code":"fr",
						isLink: false, "size": "sm"})
					</div>
				</div>
				<div class="col">
					<div class="box box--sm px-4 box--radius-md box--bordered d-flex flex-column align-items-center">
						<img src="../img/partners/p-4.svg" alt="partner-4">
						<div class="paragraph mt-1 mt-xl-2 mb-2">Atlassian</div>
						@@include("../components/blocks/country-tag/country-tag.html", {"name":"Canada", "code":"ca",
						isLink: false, "size": "sm"})
					</div>
				</div>
			</div>
		</div>
	</main>
	@@include("../components/blocks/footer/footer.html")
	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
