<!DOCTYPE html>
<html lang="en">
<head>
	@@include("../components/blocks/head/head.html")
</head>
<body>
@@include("../components/blocks/header/header.html")
<main>
	<div class="container-lg pt-3 pt-xl-4 mt-2 mt-lg-3 d-none d-md-block">
		<div class="row align-items-center">
			<div class="col-sm-7 col-lg-6 mb-5 mb-md-0">
				<div class="breadcrumps">
					<a href="/" class="breadcrumps__item">Main page</a>
					<!-- /.breadcrumps__item -->
					<span class="breadcrumps__separator">/</span>
					<!-- /.breadcrumps__separator -->
					<span class="breadcrumb_last">Pricing</span>
					<!-- /.breadcrumps__item -->
				</div>
				<!-- /.breadcrumps -->
				<div class="my-2">
					<h1 class="h1">Pricing</h1>
				</div>
				<p class="paragraph">Businesses present in the markets of several countries, and their lawyers are faced with the problem
					of the difficulty of accounting for their intellectual property rights objects.</p>
			</div>
			<div class="col-sm-5 col-lg-6"><img src="../img/pricing-banner.svg" width="672" height="493" alt="pricng image"></div>
		</div>
	</div>
	<section class="page-section ">
		<div class="container-lg">
			<h2 class="h2 mb-4">Advantages of Pocket IP global trademark search</h2>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4">
				<div class="col d-flex flex-column mb-4 mb-xl-0">
					<div class="d-flex mb-2">
						<div class="me-3">
							<img src="./img/icons/ic-search.svg" width="40" alt="">
						</div>
						<div class="h4">Trademark search</div>
					</div>
					<p class="m-0">Single search form with access to separate national and international trademark
						databases.</p>
				</div>
				<div class="col d-flex flex-column mb-4 mb-xl-0">
					<div class="d-flex mb-2">
						<div class="me-3">
							<img src="./img/icons/ic-website.svg" width="40" alt="">
						</div>
						<div class="h4">Trademark application</div>
					</div>
					<p class="m-0">Search results in unified form from different trademark databases.</p>
				</div>
				<div class="col d-flex flex-column mb-4 mb-sm-0">
					<div class="d-flex mb-2">
						<div class="me-3">
							<img src="./img/icons/ic-renewal.svg" width="40" alt="">
						</div>
						<div class="h4">Trademark renewal</div>
					</div>
					<p class="m-0">Download search report in a convenient format.</p>
				</div>
				<div class="col d-flex flex-column">
					<div class="d-flex mb-2">
						<div class="me-3">
							<img src="./img/icons/ic-clipboard.svg" width="40" alt="">
						</div>
						<div class="h4">Trademark assignment</div>
					</div>
					<p class="m-0">Easy to add trademarks from search results into objects for docketing and
						monitoring.</p>
				</div>
			</div>
		</div>
	</section>
	<div class="container-lg">
		<div class="tabs">
			<ul class="tab-list" role="tablist">
				<li role="presentation" class="active">
					<a href="#tab-1" role="tab" tabindex="0" aria-controls="tab-1" aria-selected="true" class="active">
						Trademark registration
					</a>
				</li>
				<li role="presentation"><a href="#tab-2" role="tab" tabindex="-1" aria-controls="tab-2"
										   aria-selected="false">Trademark renewal</a></li>
				<li role="presentation"><a href="#tab-3" role="tab" tabindex="-1" aria-controls="tab-3"
										   aria-selected="false">Subscription services</a></li>
			</ul>

			<div id="tab-1" class="tab-content" role="tabpanel" aria-labelledby="tab-1" aria-hidden="false">
				<div class="js-content-search">
					<div class="mb-3">
						<h2 class="h2 mb-2 mb-lg-3">Countries</h2>
						<div class="form form-search form-search-iconed">
							<form>
								<div class="form-search__container">
									<div class="form-search__icon">
										<img src="../img/icons/ic-search-grey.svg" alt=""/>
									</div>
									<input type="text" placeholder="Search"/>
								</div>
							</form>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gap-y-2 js-countries-list">
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-ua.svg" alt="" width="20" height="20">
										<a href="services-application-ukraine.html" class="js-country-name">Ukraine</a>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$480</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ua" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-de.svg" alt="" width="20" height="20">
										<span class="js-country-name">Germany</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$480</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#de" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-ca.svg" alt="" width="20" height="20">
										<span class="js-country-name">Canada</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$280</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ca" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-fr.svg" alt="" width="20" height="20">
										<span class="js-country-name">France</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$280</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ca" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="tab-2" class="tab-content" role="tabpanel" aria-labelledby="tab-2" aria-hidden="true"
				 style="display: none;">
				<div class="js-content-search">
					<div class="mb-3">
						<h2 class="h2 mb-2 mb-lg-3">Countries</h2>
						<div class="form form-search form-search-iconed">
							<form>
								<div class="form-search__container">
									<div class="form-search__icon">
										<img src="../img/icons/ic-search-grey.svg" alt=""/>
									</div>
									<input type="text" placeholder="Search"/>
								</div>
							</form>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gap-y-2 js-countries-list">
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-ua.svg" alt="" width="20" height="20">
										<span class="js-country-name">Ukraine</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$480</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ua" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-de.svg" alt="" width="20" height="20">
										<span class="js-country-name">Germany</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$480</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#de" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-ca.svg" alt="" width="20" height="20">
										<span class="js-country-name">Canada</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$280</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ca" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- CTA BLOCK -->
				<div class="page-section pb-0">
					<div class="container-lg">
						<div class="cta-block">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto mb-3 mb-md-0 col-md-6">
									<p class="m-0 h2">Conduct a search</p>
								</div>
								<div class="col-auto">
									<a href="https://my.pocketip.com/" class="btn btn-danger">Conduct a search</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- CTA BLOCK END-->
			</div>
			<div id="tab-3" class="tab-content" role="tabpanel" aria-labelledby="tab-3" aria-hidden="true"
				 style="display: none;">
				<h2 class="h2 section-h2 mb-3 mb-lg-4">Pricing</h2>
				<div class="paragraph text-md-center mb-3 mb-lg-4">
					Get 14-day free trial. No Credit Card Required.
				</div>

				<div class="pricing " data-price="year">
						<div class="row justify-content-md-center mb-4 mb-lg-5">
							<div class="col-auto">
								<div class="pricing-switcher js-pricing-switcher year-active">
									<div class="pricing-switcher__month js-pricing-month">Monthly</div>
									<div class="pricing-switcher__year js-pricing-year is-active">
										Yearly
										<div class="pricing-switcher__discount">
											15% off
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center ">
							<div class="col mb-4 mb-lg-0">
								<div class="box box--shadow h-100 d-flex flex-column">
									<div class="h3 mb-1">Pocket name</div>
									<div class="price-month">
										<div>
											<span class="h2 text-primary text-bold me-1">$11</span>
											<span class="text-muted paragraph-sm">/mo/user</span>
										</div>
										<p class="paragraph mt-2 ">Billed Annually at $132/year/user</p>
									</div>
									<div class="price-year">
										<div>
											<span class="h2 text-primary text-bold me-1">$132</span>
											<span class="text-muted paragraph-sm">/year/user</span>
										</div>
										<p class="paragraph mt-2 ">Billed Annually at $132/year/user</p>
									</div>
									<div class="pricing-list">
										<ul>
											<li>Connect any email provider</li>
											<li>1 Email Sender Included</li>
											<li>Auto email warm-up</li>
											<li>Improve Email deliverability</li>
											<li>Real people, no fake accounts</li>
											<li>Multiple email providers</li>
											<li>All Invite Team</li>
										</ul>
									</div>
									<a href="https://my.pocketip.com/" target="_blank"
									   class="btn btn-primary w-100 mt-auto">Try for free</a>
								</div>
							</div>
							<div class="col mb-4 mb-lg-0">
								<div class="box box--shadow h-100 d-flex flex-column">
									<div class="h3 mb-1">Pocket name</div>
									<div class="price-month">
										<div>
											<span class="h2 text-primary text-bold me-1">$29</span>
											<span class="text-muted paragraph-sm">/mo/user</span>
										</div>
									</div>
									<div class="price-year">
										<div>
											<span class="h2 text-primary text-bold me-1">$348</span>
											<span class="text-muted paragraph-sm">/year/user</span>
										</div>
									</div>
									<p class="paragraph mt-2 ">Billed Annually at $348/year/user</p>
									<div class="pricing-list">
										<ul>
											<li>All "Pocket name" features</li>
											<li>Drag and Drop Outreach Campaign Builder</li>
											<li>Text & Image Personalization</li>
											<li>A/B testing</li>
											<li>Email Tracker</li>
											<li>Meeting Scheduler</li>
											<li>Unlimited Email Verification</li>
										</ul>
									</div>
									<a href="https://my.pocketip.com/" target="_blank"
									   class="btn btn-primary w-100 mt-auto">Try for
										free</a>
								</div>
							</div>
							<div class="col">
								<div class="box box--shadow h-100 d-flex flex-column">
									<div class="h3 mb-1">Pocket name</div>
									<div class="price-month">
										<div>
											<span class="h2 text-primary text-bold me-1">$89</span>
											<span class="text-muted paragraph-sm">/mo/user</span>
										</div>
										<p class="paragraph mt-2 ">Billed Annually at $1068/year/user</p>
									</div>
									<div class="price-year">
										<div>
											<span class="h2 text-primary text-bold me-1">$1068</span>
											<span class="text-muted paragraph-sm">/mo/year</span>
										</div>
										<p class="paragraph mt-2 ">Billed Annually at $1068/year/user</p>
									</div>
									<div class="pricing-list">
										<ul>
											<li>All "Pocket name" features</li>
											<li>1 Email Sender Included</li>
											<li>MultiChannel Outreach</li>
											<li>Cloud Calls with Power Dialer</li>
											<li>Sales Pipelines</li>
											<li>DealStage Automation</li>
											<li>Priority Support</li>
										</ul>
									</div>
									<a href="https://my.pocketip.com/" target="_blank"
									   class="btn btn-primary w-100 mt-auto">Try for
										free</a>
								</div>
							</div>
					</div>
				</div>

				<div class="page-section pb-0">
					<div class="container-lg">
						<div class="cta-block">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto mb-3 mb-md-0 col-md-6">
									<p class="m-0 h2">Try the demo</p>
								</div>
								<div class="col-auto">
									<a href="https://my.pocketip.com/" class="btn btn-danger">Try the demo</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="page-section pb-0">
		<div class="roadmap">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col col-xxl-6">
						<h2 class="h2 section-h2 mb-3 mb-xl-4 pb-xl-3">Roadmap</h2>
					</div>
				</div>
				<div class="roadmap__wrapper">
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Create free account</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Create free account</div>
								<div class="roadmap__step-title">Step 1</div>
								<div class="roadmap__step-text">Sign up and try our service for free during the trial
									period.
									Book a
									meeting with our expert if you have questions about Pocket IP
								</div>
							</div>
						</div>
					</div><!-- roadmap__card-->
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Integrate trademark portfolio</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Integrate trademark portfolio</div>
								<div class="roadmap__step-title">Step 2</div>
								<div class="roadmap__step-text">Create the trademark records in a couple of clicks by
									integrating data from official databases. Our experts could make it as well upon
									your
									request.
								</div>
							</div>
						</div>
					</div>
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Manage your portfolio worldwide</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Manage your portfolio worldwide</div>
								<div class="roadmap__step-title">Step 3</div>
								<div class="roadmap__step-text">Use the Pocket IP to manage your trademarks worldwide –
									automatically updated trademark and application statuses, trademark accounting,
									searches,
									and monitoring, filing a new trademark application, etc.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-primary">
			<div class="container-lg pb-5">
				<div class="form form-row m-0">
					<form>
						<div class="form-title text-white">Contact with us</div>
						<input type="text" placeholder="Name"/>
						<input type="text" placeholder="Email"/>
						<textarea placeholder="Message"></textarea>
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
		</div>
	</section>

</main>
@@include("../components/blocks/footer/footer.html")
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>
