<!DOCTYPE html>
<html lang="en">
<head>
	@@include("../components/blocks/head/head.html")
</head>
<body>
@@include("../components/blocks/header/header.html")
<main>
	<section class="container-lg pt-3 pt-xl-3 mt-2 mt-lg-3 mb-80">
		<div class="row mb-80">
			<div class="col-12 col-lg-9">
				<div class="breadcrumps">
					<a href="/" class="breadcrumps__item">Main page</a>
					<!-- /.breadcrumps__item -->
					<span class="breadcrumps__separator">/</span>
					<!-- /.breadcrumps__separator -->
					<span class="breadcrumps__item">Trademark search</span>
					<!-- /.breadcrumps__item -->
				</div>
				<!-- /.breadcrumps -->
				<h1 class="h1 my-3">Trademark search</h1>

				<div class="mb-80">
					<article class="col-12 content">
						<p>
							Conducting preliminary searches among registered and filed for registration trademarks is an
							essential condition for the successful registration of TM.
						</p>
						<p>
							This becomes especially important in the case of plans to enter the markets of different
							countries, or monitoring the use of the brand in other countries.
						</p>
						<p>
							However, TM databases of different countries are located on different platforms, in
							different languages, and provide information in different formats. This forces even
							experienced intellectual property professionals to spend a lot of time conducting such
							searches and preparing a search report.
						</p>
					</article>
				</div>
				<div class="mb-80">
					<div class="h2 mb-4">Why preliminary trademark search is needed?</div>
					<div class="row row-cols-1 row-cols-md-3 gy-4 gy-md-0">
						<div class="col">
							<div class="d-flex align-items-center gap-1 gap-xl-2 mb-2 mb-xl-3 ">
								<div class="box box--sm box--radius-sm box--red w-auto d-inline-flex justify-content-center ">
									<img src="../img/icons/ic-hit-6.svg" alt="">
								</div>
								<div class="subtitle-2">Avoid costly trademark conflicts</div>
							</div>
							<div class="w-100">Pocket IP solves this problem and saves time and also reduces</div>
						</div>
						<div class="col">
							<div class="d-flex align-items-center gap-1 gap-xl-2 mb-2 mb-xl-3 ">
								<div class="box box--sm box--radius-sm box--red w-auto d-inline-flex justify-content-center ">
									<img src="../img/icons/ic-hit-7.svg" alt="">
								</div>
								<div class="subtitle-2">Save money and time</div>
							</div>
							<div class="w-100">Pocket IP solves this problem and saves time and also reduces the risk of
								missing out on important search results.</div>
						</div>
						<div class="col">
							<div class="d-flex align-items-center gap-1 gap-xl-2 mb-2 mb-xl-3 ">
								<div class="box box--sm box--radius-sm box--red w-auto d-inline-flex justify-content-center ">
									<img src="../img/icons/ic-hit-8.svg" alt="">
								</div>
								<div class="subtitle-2">Protect yourself</div>
							</div>
							<div class="w-100">Avoid costly trademark conflicts…</div>
						</div>
					</div>
				</div>
				<div class="mb-80">
					<div class="h2 mb-4">Advantages of Pocket IP global trademark search</div>
					<div class="row row-cols-1 row-cols-md-2 gy-3">
						<div class="col">
							<div class="d-flex align-items-center gap-1 gap-xl-2 mb-2 mb-xl-3 ">
								<img src="../img/icons/ic-search.svg" class="icon-lg" alt="">
								<div class="paragraph">Single search form with access to separate national and
									international trademark databases.</div>
							</div>
						</div>
						<div class="col">
							<div class="d-flex align-items-center gap-1 gap-xl-2 mb-2 mb-xl-3 ">
								<img src="../img/icons/ic-website.svg" class="icon-lg" alt="">
								<div class="paragraph">Search results in unified form from different trademark
									databases.</div>
							</div>
						</div>
						<div class="col">
							<div class="d-flex align-items-center gap-1 gap-xl-2 mb-2 mb-xl-3 ">
								<img src="../img/icons/ic-download.svg" class="icon-lg" alt="">
								<div class="paragraph">Download search report in a convenient format.</div>
							</div>
						</div>
						<div class="col">
							<div class="d-flex align-items-center gap-1 gap-xl-2 mb-2 mb-xl-3 ">
								<img src="../img/icons/ic-document.svg" class="icon-lg" alt="">
								<div class="paragraph">Easy to add trademarks from search results into objects for
									docketing and monitoring.</div>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-80 content">
					<div class="h2 mb-4">Full pack of tools for global trademark search</div>
					<!-- or tag H2 -->
					<p>
						Pocket IP provides a search in the databases of national and international trademark registration
						systems – showing results in a single format using convenient search algorithms.
					</p>
					<p>
						Search results in the Pocket IP system will show the same and similar trademarks, as well as
						trademarks that are the exact translation of the meaning into the national language.
					</p>
					<p>
						The search results report can be saved by the user to avoid the need for repeated duplicate
						searches.
						Also, data on specific trademarks can be used to enable the function of tracking changes in the
						status of a particular trademark or trademark application.
					</p>

					<img src="../img/service-search-1.png" srcset="../img/service-search-1.png 1x, ../img/service-search-1@2x 2x.png" alt="app">
				</div>
				<div class="mb-80 content">
					<div class="h2 mb-3">Full pack of tools for global trademark search</div>
					<!-- or tag H2 -->
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a,
						mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut
						interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class
						aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent
						auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse
						ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam
						sit amet lacinia. Aliquam in elementum tellus.
					</p>

					<img src="../img/service-search-2.png"
						 srcset="../img/service-search-2.png 1x, ../img/service-search-2@2x.png 2x" alt="app2">
				</div>
				<div class="mb-80">
					<div class="cta-block cta-block-sm">
						<div class="row justify-content-between align-items-center">
							<div class="col-auto mb-3 mb-md-0 col-md-7">
								<p class="mb-2 h3">Do you need specialists help?</p>
								<p class="paragraph-lg">We are ready to help you…</p>
							</div>
							<div class="col-auto">
								<a href="https://my.pocketip.com/" class="btn btn-primary">Try demo now</a>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-80">
					<div class="h2 mb-3">FAQ</div>
					@@include("../components/blocks/faq/faq.html")
				</div>
			</div>

			<div class="d-none d-lg-block col-12 col-lg-3 ps-5">
				<div class="subtitle-1">Other solutions</div>
				<ul class="list list-divider">
					<li><a href="#">Trademark application</a></li>
					<li><a href="#">Trademark renewal</a></li>
					<li><a href="#">Trademark assignment</a></li>
				</ul>
			</div>
		</div>
	</section>
</main>
@@include("../components/blocks/footer/footer.html")
<script src="js/vendor.js"></script>
<script src="js/main.js"></script>
</body>
</html>
