<div class="accordion" id="faq-according">
	<div class="accordion-item">
		<button class="btn accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1"
				aria-expanded="true" aria-controls="collapse-1">
			What is trademark portfolio management software?
		</button>
		<div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="headingOne"
			 data-bs-parent="#faq-according">
			<div class="accordion-body paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
	<div class="accordion-item">
			<button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
				What are the benefits of Intellectual Property Management Software?
			</button>
		<div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			 data-bs-parent="#faq-according">
			<div class="accordion-bod paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
	<div class="accordion-item">
			<button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
				What are some ways to protect intellectual property?
			</button>
		<div id="collapse-4" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			 data-bs-parent="#faq-according">
			<div class="accordion-bod paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
	<div class="accordion-item">
			<button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
				How can I manage a trademark portfolio?
			</button>
		<div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			 data-bs-parent="#faq-according">
			<div class="accordion-bod paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
	<div class="accordion-item">
			<button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
				What are the benefits of Intellectual Property Management Software?
			</button>
		<div id="collapse-6" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			 data-bs-parent="#faq-according">
			<div class="accordion-bod paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
	<div class="accordion-item">
			<button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
				How to protect intellectual property internationally?
			</button>
		<div id="collapse-7" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			 data-bs-parent="#faq-according">
			<div class="accordion-bod paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
	<div class="accordion-item">
			<button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-8" aria-expanded="false" aria-controls="collapse-8">
				Who should use Pocket IP trademark portfolio software?
			</button>
		<div id="collapse-8" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			 data-bs-parent="#faq-according">
			<div class="accordion-bod paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
	<div class="accordion-item">
			<button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-9" aria-expanded="false" aria-controls="collapse-9">
				Do you need specialist help?
			</button>
		<div id="collapse-9" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			 data-bs-parent="#faq-according">
			<div class="accordion-bod paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
	<div class="accordion-item">
			<button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
					data-bs-target="#collapse-10" aria-expanded="false" aria-controls="collapse-10">
				Want to become our partner in your country?
			</button>
		<div id="collapse-10" class="accordion-collapse collapse" aria-labelledby="headingTwo"
			 data-bs-parent="#faq-according">
			<div class="accordion-bod paragraph">
				Pocket IP helps to manage trademark portfolio with the tools like – an advanced docketing system to keep
				and update trademark records, make searches, set up monitoring, file new trademark applications, and get
				access to trademark applications tracking system. Our service provides all the main functionality in one
				place for the development of your business.
			</div>
		</div>
	</div>
</div>
