$black: #212121;
$navy-500: #3837AA;
$navy-700: #05043E;
$blue: #504EF3;
$white: #FFFFFF;
$grey-100: #E0E0E0;
$grey-200: #F8F8F8;
$grey-500: #999999;
$red: #D80202;
$red-hover: darken($red, 10%);

$media-2xl: 1441px;

$box-shadow: 0 2px 4px rgba(33, 33, 33, 0.08), 0 4px 12px rgba(33, 33, 33, 0.12), 0 8px 24px rgba(33, 33, 33, 0.12);

$primary: $blue;
$primary-hover: $navy-500;
$primary-bg: $navy-700;
$body-color: $black;
