.breadcrumbs {
  font-size: rem(12);
  @include media-breakpoint-up(lg) {
    font-size: rem(14);
  }

  &__separator {
    padding: 0 rem(6);
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb_last {
    @extend .text-muted;
  }
}
