<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Pocket-ip</title>
<meta name="theme-color" content="#fff">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport"
	  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
<link rel="stylesheet" href="css/main.min.css">

</head>
<body>
<div class="info-panel js-info-panel">
	<div class="container-fluid">
		<div class="info-panel__container">
			<p class="info-panel__text">Clarivate to cease all commercial activity in Russia
				<span class="d-none d-lg-inline-block pe-1"> - </span>
			</p>
			<a href="#" class="info-panel__link">Read more</a>
			<button type="button" aria-label="close" class="btn-close btn-close-white info-panel__close-btn js-info-panel-close">
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.66671 1.2735L8.72671 0.333496L5.00004 4.06016L1.27337 0.333496L0.333374 1.2735L4.06004 5.00016L0.333374 8.72683L1.27337 9.66683L5.00004 5.94016L8.72671 9.66683L9.66671 8.72683L5.94004 5.00016L9.66671 1.2735Z"/>
				</svg>
			</button>
		</div>
	</div>
</div>
<header class="header js-header">
	<div class="container-xxl">
		<div class="header__container">
			<div class="main-logo">
	<a href="/">
		<img src="../img/logo.svg" alt="Logo Pocket-ip">
	</a>
</div>

			<nav class="header__nav js-header-nav">
				<button type="button" class="btn btn-nav-search header__nav-search ">Search</button>
				<ul>
					<li class="menu-item-has-children">
						<a>Our solutions</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
									<img src="../img/icons/ic-document.svg" alt="">
									<span>Docketing system</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-search.svg" alt="">
									<span>Integrated search forms</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-search.svg" alt="">
									<span>Online application system</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-search.svg" alt="">
									<span>Alerting system</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-international.svg" alt="">
									<span>Global coverage</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a>Services</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
									<img src="../img/icons/ic-search.svg" alt="">
									<span>Trademark search</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-website.svg" alt="">
									<span>Trademark application</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-website.svg" alt="">
									<span>Trademark renewal</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-clipboard.svg" alt="">
									<span>Trademark assignment</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a>About us</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
									<img src="../img/icons/ic-company.svg" alt="">
									<span>Company</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-contact.svg" alt="">
									<span>Contacts</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-partners.svg" alt="">
									<span>Partners</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">FAQ</a>
					</li>
					<li class="menu-item-has-children">
						<a>Media</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
									<img src="../img/icons/ic-newspaper.svg" alt="">
									<span>News</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-edit.svg" alt="">
									<span>Blog</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="d-flex justify-content-center d-lg-none mt-auto">
					<div class="px-2">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary">Book a demo</a>
					</div>
					<div class="px-2">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary-outline">Try for free</a>
					</div>
				</div>
			</nav>
			<div class="d-flex">
				<div class="d-none d-lg-flex me-2 me-xl-4 order-lg-first">
					<div class="px-2">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary">Book a demo</a>
					</div>
					<div class="px-2">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary-outline">Try for
							free</a>
					</div>
				</div>
					<!-- polylang need to dev more-->
				<div class="lang-switcher d-flex align-items-center me-3 me-xl-4">
					<img src="../img/icons/ic-lang.svg"  alt="lang-switcher">
					<div class="ms-2 ps-1">
						EN
					</div>
				</div>
				<button type="button" class="btn btn-nav-search d-none d-lg-inline-flex">Search</button>
				<a href="https://my.pocketip.com/" class="login-link d-flex align-items-center order-lg-first me-3 me-xl-4" target="_blank">
					<img src="../img/icons/ic-account.svg" alt="login account">
					<span class="d-none d-lg-inline-block ms-2 ps-1">Log in</span>
				</a>

				<button type="button" class="btn btn-menu header__btn-menu js-menu-btn">
					<img src="../img/icons/ic-menu.svg" alt="menu">
				</button>
			</div>
		</div>
	</div>
</header>

<main>
	<section class="container-lg pt-3 pt-xxl-4 mt-2 mt-xxl-3 mb-0 mb-xxl-4 pb-0 pb-xxl-3">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-10 col-xxl-8">
				<div class="row">
					<div class="col-auto mb-2 pb-1">
						<div class="breadcrumps">
							<a href="/" class="breadcrumps__item">Main page</a>
							<!-- /.breadcrumps__item -->
							<span class="breadcrumps__separator">/</span>
							<!-- /.breadcrumps__separator -->
							<span class="breadcrumps__item">Company</span>
							<!-- /.breadcrumps__item -->
						</div>
						<!-- /.breadcrumps -->
					</div>
					<div class="col-12 mb-3">
						<h1 class="h1">Company</h1>
					</div>
					<article class="col-12 content">
						<p>
							Businesses present in the markets of several countries, and their lawyers are faced with the
							problem of the difficulty of accounting for their intellectual property rights objects.
						</p>
						<p>
							The principle of extraterritoriality does not apply to object of industrial property
							(trademarks, patents) – the rights to them are valid only in the country where they have
							passed the official registration procedure. Therefore, any company that has several TM or
							patents in its portfolio and operates in several countries is faced with the problem of
							managing its assets – even one TM is thus transformed into dozens or hundreds of different
							objects that are regulated by various national laws and exist in the business space of
							different countries.
						</p>
						<h2>What are we doing?</h2>
						<p>
							Because of this, it is not uncommon for companies to “lose” their trademarks – information
							about registration documents are lost, accurate information about the owner, and the
							deadlines for renewing the rights to a trademark are missed.
						</p>
						<p>
							The Pocket IP docketing system allows easily enter information about TM and patents by
							uploading data from national and international registration systems to a personal account,
							keep records of all objects in a single convenient format, automatically update information
							about the IP objects, taking into account the data of possible license agreements, enable
							the alerting function in case of attempts to unlawfully register similar TM, quickly give
							instructions to lawyers in other countries.
						</p>
						<h2>Values</h2>
						<p>
							The principle of extraterritoriality does not apply to object of industrial property
							(trademarks, patents) – the rights to them are valid only in the country where they have
							passed the official registration procedure. Therefore, any company that has several TM or
							patents in its portfolio and operates in several countries is faced with the problem of
							managing its assets – even one TM is thus transformed into dozens or hundreds of different
							objects that are regulated by various national laws and exist in the business space of
							different countries.
						</p>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section class="page-section pt-0">
		<div class="roadmap">
			<div class="container-lg">
				<div class="row justify-content-center">
					<div class="col col-xxl-6">
						<h2 class="h2 section-h2 mb-3 mb-xl-4 pb-xl-3">Roadmap</h2>
					</div>
				</div>
				<div class="roadmap__wrapper">
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Create free account</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Create free account</div>
								<div class="roadmap__step-title">Step 1</div>
								<div class="roadmap__step-text">Sign up and try our service for free during the
									trial
									period.
									Book a
									meeting with our expert if you have questions about Pocket IP
								</div>
							</div>
						</div>
					</div><!-- roadmap__card-->
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Integrate trademark portfolio</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Integrate trademark portfolio</div>
								<div class="roadmap__step-title">Step 2</div>
								<div class="roadmap__step-text">Create the trademark records in a couple of clicks
									by
									integrating data from official databases. Our experts could make it as well upon
									your
									request.
								</div>
							</div>
						</div>
					</div>
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Manage your portfolio worldwide</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Manage your portfolio worldwide</div>
								<div class="roadmap__step-title">Step 3</div>
								<div class="roadmap__step-text">Use the Pocket IP to manage your trademarks
									worldwide –
									automatically updated trademark and application statuses, trademark accounting,
									searches,
									and monitoring, filing a new trademark application, etc.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="container-lg">
		<h2 class="section-h2 mb-3 mb-xl-4 pb-xl-3">
			Team
		</h2>
		<div class="row row-cols-1 row-cols-md-3 gy-3 g-md-2 g-lg-3 mb-4 mb-xxl-5 pb-3 pb-xxl-4">
			<div class="col d-flex flex-column">
				<div class="box box--md box--bordered text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="avatar avatar-xl mb-1">
							<img src="img/avatar-1.png" srcset="img/avatar-1.png 1x, img/avatar-1@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Floyd Miles</div>
						<p>Director</p>
						<a class="d-flex align-items-center gap-1" href="https://linkedin.com">
							<img src="../img/icons/ic-linkedin.svg" alt="" width="20" height="20">
							<p>Linkedin</p>
						</a>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div class="box box--md box--bordered text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="avatar avatar-xl mb-1">
							<img src="img/avatar-2.png" srcset="img/avatar-2.png 1x, img/avatar-2@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Darlene Robertson</div>
						<p>Director</p>
						<a class="d-flex align-items-center gap-1" href="https://linkedin.com">
							<img src="../img/icons/ic-linkedin.svg" alt="" width="20" height="20">
							<p>Linkedin</p>
						</a>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div class="box box--md box--bordered  text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="avatar avatar-xl mb-1">
							<img src="img/avatar-3.png" srcset="img/avatar-3.png 1x, img/avatar-3@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Marvin McKinney</div>
						<p>Director</p>
						<a class="d-flex align-items-center gap-1" href="https://linkedin.com">
							<img src="../img/icons/ic-linkedin.svg" alt="" width="20" height="20">
							<p>Linkedin</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<h2 class="section-h2 mb-3 mb-xl-4 pb-xl-3 pt-xxl-2">
			Awards, achievements
		</h2>
		<div class="row row-cols-1 row-cols-md-3 gy-3 g-md-2 g-lg-3 mb-4 mb-xxl-5 pb-3 pb-xxl-5">
			<div class="col d-flex flex-column">
				<div class="award box box--md box--bordered text-center h-100">
					<div class="d-flex flex-column align-items-center gap-2">
						<div class="mb-1">
							<img width="100%" height="120" src="img/awards-1.png" srcset="img/awards-1.png 1x, img/awards-1@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Top award</div>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div class="award box box--md box--bordered text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="mb-1">
							<img width="100%" height="120" src="img/awards-2.png" srcset="img/awards-2.png 1x, img/awards-2@2x.png 2x"
								 alt="avatar">
						</div>
						<div class="h3">Awwwards</div>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div class="award box box--md box--bordered  text-center h-100">
					<div class="d-flex flex-column align-items-center gap-1">
						<div class="mb-1">
							<img width="100%" height="120" src="img/awards-4.jpeg"
								 alt="awards">
						</div>
						<div class="h3">Medal of honor</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<footer class="footer">
	<div class="container-lg">
		<div class="row justify-content-lg-between">
			<div class="col-12 col-lg-3 mb-4 mb-lg-0 d-lg-flex flex-lg-column">
				<div class="mb-4">
					<div class="main-logo">
	<a href="/">
		<img src="../img/logo.svg" alt="Logo Pocket-ip">
	</a>
</div>

				</div>
				<div class="row row-cols-2 row-cols-lg-1 g-2">
					<div class="col">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary w-100">Book a demo</a>
					</div>
					<div class="col">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary-outline w-100">Try for
							free</a>
					</div>
				</div>
				<div class="d-none d-lg-block mt-auto">
					<img
						src="../img/five.png"
						SRCSET="../img/five.png, ../img/five@2x.png 2x"
						alt="">
				</div>
			</div>
			<div class="col-12 col-lg-8">
				<div class="footer-nav">
	<ul>
		<li class="menu-item-has-children">
			<a>Company</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Roadmap</a></li>
				<li><a href="#">Integrations</a></li>
				<li><a href="#">Status</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">API</a></li>
			</ul>
		</li>
		<li class="menu-item-has-children">
			<a>Sections</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Roadmap</a></li>
				<li><a href="#">Integrations</a></li>
				<li><a href="#">Status</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">TM options2</a></li>
			</ul>
		</li>
		<li class="menu-item-has-children">
			<a>Free Tools</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
			</ul>
		</li>
	</ul>
</div>

			</div>
			<div class="col-12">
				<div class="d-lg-flex justify-content-between footer__copy">
					<ul>
						<li>Copyright 2022</li>
						<li>All Rights Reserved By PocketIP Ltd</li>
						<li><a href="http://">Terms of Service</a></li>
						<li><a href="http://">Disclaimer</a></li>
						<li><a href="http://">Sitemap</a></li>
						<li><a href="http://">Privacy Policy</a></li>
					</ul>
					<div class="footer__social">
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-facebook.svg)" title="pocket-ip facebook">
							pocket-ip facebook
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-twitter.svg)" title="pocket-ip twitter">
							pocket-ip twitter
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-linkedin.svg)" title="pocket-ip linkedin">
							pocket-ip linkedin
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-youtube-logo.svg)" title="pocket-ip youtube">
							pocket-ip youtube
						</a>
					</div>
					<div class="d-block d-lg-none mt-3 mt-lg-0">
						<img
								src="../img/five.png"
								SRCSET="../img/five.png, ../img/five@2x.png 2x"
								alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/vendor.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>
