<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Pocket-ip</title>
<meta name="theme-color" content="#fff">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="viewport"
	  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
<link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
<link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
<link rel="stylesheet" href="css/main.min.css">

</head>
<body>
<div class="info-panel js-info-panel d-none">
	<div class="container-fluid">
		<div class="info-panel__container">
			<p class="info-panel__text">Clarivate to cease all commercial activity in Russia
				<span class="d-none d-lg-inline-block pe-1"> - </span>
			</p>
			<a href="#" class="info-panel__link">Read more</a>
			<button type="button" aria-label="close" class="btn-close btn-close-white info-panel__close-btn js-info-panel-close">
				<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.66671 1.2735L8.72671 0.333496L5.00004 4.06016L1.27337 0.333496L0.333374 1.2735L4.06004 5.00016L0.333374 8.72683L1.27337 9.66683L5.00004 5.94016L8.72671 9.66683L9.66671 8.72683L5.94004 5.00016L9.66671 1.2735Z"/>
				</svg>
			</button>
		</div>
	</div>
</div>
<header class="header js-header">
	<div class="container-xxl">
		<div class="header__container">
			<div class="main-logo">
	<a href="/">
		<img src="../img/logo.svg" alt="Logo Pocket-ip">
	</a>
</div>

			<nav class="header__nav js-header-nav">
				<button type="button" class="btn btn-nav-search header__nav-search js-btn-search">
					Search
				</button>
				<ul>
					<li class="menu-item-has-children">
						<a>Our solutions</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
									<img src="../img/icons/ic-document.svg" alt="" />
									<span>Docketing system</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-search.svg" alt="" />
									<span>Integrated search forms</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-search.svg" alt="" />
									<span>Online application system</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-search.svg" alt="" />
									<span>Alerting system</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-international.svg" alt="" />
									<span>Global coverage</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
						</ul>
					</li>
					<li class="menu-item-has-children">
						<a>Services</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
									<img src="../img/icons/ic-search.svg" alt="" />
									<span>Trademark search</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-website.svg" alt="" />
									<span>Trademark application</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-website.svg" alt="" />
									<span>Trademark renewal</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-clipboard.svg" alt="" />
									<span>Trademark assignment</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
						</ul>
					</li>
					<li><a href="">Pricing</a></li>
					<li>
						<a href="#">FAQ</a>
					</li>
					<li class="menu-item-has-children">
						<a>Media</a>
						<ul class="sub-menu">
							<li>
								<a href="#">
									<img src="../img/icons/ic-newspaper.svg" alt="" />
									<span>News</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
							<li>
								<a href="#">
									<img src="../img/icons/ic-edit.svg" alt="" />
									<span>Blog</span>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<div class="d-flex justify-content-center d-lg-none mt-auto">
					<div class="px-2">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary"
							>Book a demo</a
						>
					</div>
					<div class="px-2">
						<a
							href="https://my.pocketip.com/"
							target="_blank"
							class="btn btn-primary-outline"
							>Try for free</a
						>
					</div>
				</div>
			</nav>
			<div class="d-flex">
				<div class="d-none d-lg-flex me-2 me-xl-4 order-lg-first">
					<div class="px-2">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary"
							>Book a demo</a
						>
					</div>
					<div class="px-2">
						<a
							href="https://my.pocketip.com/"
							target="_blank"
							class="btn btn-primary-outline"
							>Try for free</a
						>
					</div>
				</div>
				<div class="lang-switcher d-flex align-items-center me-3 me-xl-4">
					<img src="../img/icons/ic-lang.svg" alt="lang-switcher" />
					<div class="ms-2 ps-1">
						<div class="lang-switcher-current">
							en
							<!-- replace this text to <?php echo pll_current_language() ?>-->
						</div>
						<ul class="lang-switcher-list"></ul>
						<select name="lang_choice_1" id="lang_choice_1" class="pll-switcher-select">
							<option value="https://www.kykilab.com/uk/" lang="uk">uk</option>
							<option value="https://www.kykilab.com/ru/" lang="ru-RU">ru</option>
							<option
								value="https://www.kykilab.com/"
								lang="en-US"
								selected="selected">
								en
							</option>
						</select>
					</div>
				</div>
				<button
					type="button"
					class="btn btn-nav-search d-none d-lg-inline-flex js-btn-search">
					Search
				</button>
				<a
					href="https://my.pocketip.com/"
					class="login-link d-flex align-items-center order-lg-first me-3 me-xl-4"
					target="_blank">
					<img src="../img/icons/ic-account.svg" alt="login account" />
					<span class="d-none d-lg-inline-block ms-2 ps-1">Log in</span>
				</a>

				<button type="button" class="btn btn-menu header__btn-menu js-menu-btn">
					<img src="../img/icons/ic-menu.svg" alt="menu" />
				</button>
			</div>
		</div>
	</div>
</header>

<main>
	<div class="container-lg pt-3 pt-xl-4 mt-2 mt-lg-3 d-none d-md-block">
		<div class="row align-items-center">
			<div class="col-sm-7 col-lg-6 mb-5 mb-md-0">
				<div class="breadcrumps">
					<a href="/" class="breadcrumps__item">Main page</a>
					<!-- /.breadcrumps__item -->
					<span class="breadcrumps__separator">/</span>
					<!-- /.breadcrumps__separator -->
					<span class="breadcrumb_last">Pricing</span>
					<!-- /.breadcrumps__item -->
				</div>
				<!-- /.breadcrumps -->
				<div class="my-2">
					<h1 class="h1">Pricing</h1>
				</div>
				<p class="paragraph">Businesses present in the markets of several countries, and their lawyers are faced with the problem
					of the difficulty of accounting for their intellectual property rights objects.</p>
			</div>
			<div class="col-sm-5 col-lg-6"><img src="../img/pricing-banner.svg" width="672" height="493" alt="pricng image"></div>
		</div>
	</div>
	<section class="page-section ">
		<div class="container-lg">
			<h2 class="h2 mb-4">Advantages of Pocket IP global trademark search</h2>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4">
				<div class="col d-flex flex-column mb-4 mb-xl-0">
					<div class="d-flex mb-2">
						<div class="me-3">
							<img src="./img/icons/ic-search.svg" width="40" alt="">
						</div>
						<div class="h4">Trademark search</div>
					</div>
					<p class="m-0">Single search form with access to separate national and international trademark
						databases.</p>
				</div>
				<div class="col d-flex flex-column mb-4 mb-xl-0">
					<div class="d-flex mb-2">
						<div class="me-3">
							<img src="./img/icons/ic-website.svg" width="40" alt="">
						</div>
						<div class="h4">Trademark application</div>
					</div>
					<p class="m-0">Search results in unified form from different trademark databases.</p>
				</div>
				<div class="col d-flex flex-column mb-4 mb-sm-0">
					<div class="d-flex mb-2">
						<div class="me-3">
							<img src="./img/icons/ic-renewal.svg" width="40" alt="">
						</div>
						<div class="h4">Trademark renewal</div>
					</div>
					<p class="m-0">Download search report in a convenient format.</p>
				</div>
				<div class="col d-flex flex-column">
					<div class="d-flex mb-2">
						<div class="me-3">
							<img src="./img/icons/ic-clipboard.svg" width="40" alt="">
						</div>
						<div class="h4">Trademark assignment</div>
					</div>
					<p class="m-0">Easy to add trademarks from search results into objects for docketing and
						monitoring.</p>
				</div>
			</div>
		</div>
	</section>
	<div class="container-lg">
		<div class="tabs">
			<ul class="tab-list" role="tablist">
				<li role="presentation" class="active">
					<a href="#tab-1" role="tab" tabindex="0" aria-controls="tab-1" aria-selected="true" class="active">
						Trademark registration
					</a>
				</li>
				<li role="presentation"><a href="#tab-2" role="tab" tabindex="-1" aria-controls="tab-2"
										   aria-selected="false">Trademark renewal</a></li>
				<li role="presentation"><a href="#tab-3" role="tab" tabindex="-1" aria-controls="tab-3"
										   aria-selected="false">Subscription services</a></li>
			</ul>

			<div id="tab-1" class="tab-content" role="tabpanel" aria-labelledby="tab-1" aria-hidden="false">
				<div class="js-content-search">
					<div class="mb-3">
						<h2 class="h2 mb-2 mb-lg-3">Countries</h2>
						<div class="form form-search form-search-iconed">
							<form>
								<div class="form-search__container">
									<div class="form-search__icon">
										<img src="../img/icons/ic-search-grey.svg" alt=""/>
									</div>
									<input type="text" placeholder="Search"/>
								</div>
							</form>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gap-y-2 js-countries-list">
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-ua.svg" alt="" width="20" height="20">
										<a href="services-application-ukraine.html" class="js-country-name">Ukraine</a>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$480</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ua" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-de.svg" alt="" width="20" height="20">
										<span class="js-country-name">Germany</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$480</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#de" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-ca.svg" alt="" width="20" height="20">
										<span class="js-country-name">Canada</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$280</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ca" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-fr.svg" alt="" width="20" height="20">
										<span class="js-country-name">France</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$280</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ca" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="tab-2" class="tab-content" role="tabpanel" aria-labelledby="tab-2" aria-hidden="true"
				 style="display: none;">
				<div class="js-content-search">
					<div class="mb-3">
						<h2 class="h2 mb-2 mb-lg-3">Countries</h2>
						<div class="form form-search form-search-iconed">
							<form>
								<div class="form-search__container">
									<div class="form-search__icon">
										<img src="../img/icons/ic-search-grey.svg" alt=""/>
									</div>
									<input type="text" placeholder="Search"/>
								</div>
							</form>
						</div>
					</div>
					<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gap-y-2 js-countries-list">
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-ua.svg" alt="" width="20" height="20">
										<span class="js-country-name">Ukraine</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$480</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ua" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-de.svg" alt="" width="20" height="20">
										<span class="js-country-name">Germany</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$480</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#de" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="country-card">
								<div class="row justify-content-between mb-2">
									<div class="col-auto d-flex gap-1">
										<img src="../img/icons/ic-ca.svg" alt="" width="20" height="20">
										<span class="js-country-name">Canada</span>
									</div>
									<div class="col-auto d-flex gap-1">
										<span class="text-bold">$280</span>
										<div class="country-card__info">
											<img src="../img/icons/ic-info.svg" alt="" width="24" height="24">
											<div class="country-card__info-tooltip">
												Includes 1 class, each additional class costs €235.
											</div>
										</div>
									</div>
								</div>
								<div class="row justify-content-between">
									<div class="col-auto">
										<a href="#ca" class="js-price-modal link"><span>Details</span></a>
									</div>
									<div class="col-auto">
										<a href="https://my.pocketip.com/tm-application/" class="link" target="_blank">
											<span>File application</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- CTA BLOCK -->
				<div class="page-section pb-0">
					<div class="container-lg">
						<div class="cta-block">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto mb-3 mb-md-0 col-md-6">
									<p class="m-0 h2">Conduct a search</p>
								</div>
								<div class="col-auto">
									<a href="https://my.pocketip.com/" class="btn btn-danger">Conduct a search</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- CTA BLOCK END-->
			</div>
			<div id="tab-3" class="tab-content" role="tabpanel" aria-labelledby="tab-3" aria-hidden="true"
				 style="display: none;">
				<h2 class="h2 section-h2 mb-3 mb-lg-4">Pricing</h2>
				<div class="paragraph text-md-center mb-3 mb-lg-4">
					Get 14-day free trial. No Credit Card Required.
				</div>

				<div class="pricing " data-price="year">
						<div class="row justify-content-md-center mb-4 mb-lg-5">
							<div class="col-auto">
								<div class="pricing-switcher js-pricing-switcher year-active">
									<div class="pricing-switcher__month js-pricing-month">Monthly</div>
									<div class="pricing-switcher__year js-pricing-year is-active">
										Yearly
										<div class="pricing-switcher__discount">
											15% off
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center ">
							<div class="col mb-4 mb-lg-0">
								<div class="box box--shadow h-100 d-flex flex-column">
									<div class="h3 mb-1">Pocket name</div>
									<div class="price-month">
										<div>
											<span class="h2 text-primary text-bold me-1">$11</span>
											<span class="text-muted paragraph-sm">/mo/user</span>
										</div>
										<p class="paragraph mt-2 ">Billed Annually at $132/year/user</p>
									</div>
									<div class="price-year">
										<div>
											<span class="h2 text-primary text-bold me-1">$132</span>
											<span class="text-muted paragraph-sm">/year/user</span>
										</div>
										<p class="paragraph mt-2 ">Billed Annually at $132/year/user</p>
									</div>
									<div class="pricing-list">
										<ul>
											<li>Connect any email provider</li>
											<li>1 Email Sender Included</li>
											<li>Auto email warm-up</li>
											<li>Improve Email deliverability</li>
											<li>Real people, no fake accounts</li>
											<li>Multiple email providers</li>
											<li>All Invite Team</li>
										</ul>
									</div>
									<a href="https://my.pocketip.com/" target="_blank"
									   class="btn btn-primary w-100 mt-auto">Try for free</a>
								</div>
							</div>
							<div class="col mb-4 mb-lg-0">
								<div class="box box--shadow h-100 d-flex flex-column">
									<div class="h3 mb-1">Pocket name</div>
									<div class="price-month">
										<div>
											<span class="h2 text-primary text-bold me-1">$29</span>
											<span class="text-muted paragraph-sm">/mo/user</span>
										</div>
									</div>
									<div class="price-year">
										<div>
											<span class="h2 text-primary text-bold me-1">$348</span>
											<span class="text-muted paragraph-sm">/year/user</span>
										</div>
									</div>
									<p class="paragraph mt-2 ">Billed Annually at $348/year/user</p>
									<div class="pricing-list">
										<ul>
											<li>All "Pocket name" features</li>
											<li>Drag and Drop Outreach Campaign Builder</li>
											<li>Text & Image Personalization</li>
											<li>A/B testing</li>
											<li>Email Tracker</li>
											<li>Meeting Scheduler</li>
											<li>Unlimited Email Verification</li>
										</ul>
									</div>
									<a href="https://my.pocketip.com/" target="_blank"
									   class="btn btn-primary w-100 mt-auto">Try for
										free</a>
								</div>
							</div>
							<div class="col">
								<div class="box box--shadow h-100 d-flex flex-column">
									<div class="h3 mb-1">Pocket name</div>
									<div class="price-month">
										<div>
											<span class="h2 text-primary text-bold me-1">$89</span>
											<span class="text-muted paragraph-sm">/mo/user</span>
										</div>
										<p class="paragraph mt-2 ">Billed Annually at $1068/year/user</p>
									</div>
									<div class="price-year">
										<div>
											<span class="h2 text-primary text-bold me-1">$1068</span>
											<span class="text-muted paragraph-sm">/mo/year</span>
										</div>
										<p class="paragraph mt-2 ">Billed Annually at $1068/year/user</p>
									</div>
									<div class="pricing-list">
										<ul>
											<li>All "Pocket name" features</li>
											<li>1 Email Sender Included</li>
											<li>MultiChannel Outreach</li>
											<li>Cloud Calls with Power Dialer</li>
											<li>Sales Pipelines</li>
											<li>DealStage Automation</li>
											<li>Priority Support</li>
										</ul>
									</div>
									<a href="https://my.pocketip.com/" target="_blank"
									   class="btn btn-primary w-100 mt-auto">Try for
										free</a>
								</div>
							</div>
					</div>
				</div>

				<div class="page-section pb-0">
					<div class="container-lg">
						<div class="cta-block">
							<div class="row justify-content-between align-items-center">
								<div class="col-auto mb-3 mb-md-0 col-md-6">
									<p class="m-0 h2">Try the demo</p>
								</div>
								<div class="col-auto">
									<a href="https://my.pocketip.com/" class="btn btn-danger">Try the demo</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<section class="page-section pb-0">
		<div class="roadmap">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col col-xxl-6">
						<h2 class="h2 section-h2 mb-3 mb-xl-4 pb-xl-3">Roadmap</h2>
					</div>
				</div>
				<div class="roadmap__wrapper">
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Create free account</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Create free account</div>
								<div class="roadmap__step-title">Step 1</div>
								<div class="roadmap__step-text">Sign up and try our service for free during the trial
									period.
									Book a
									meeting with our expert if you have questions about Pocket IP
								</div>
							</div>
						</div>
					</div><!-- roadmap__card-->
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Integrate trademark portfolio</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Integrate trademark portfolio</div>
								<div class="roadmap__step-title">Step 2</div>
								<div class="roadmap__step-text">Create the trademark records in a couple of clicks by
									integrating data from official databases. Our experts could make it as well upon
									your
									request.
								</div>
							</div>
						</div>
					</div>
					<div class="roadmap__card">
						<div class="roadmap__title d-none d-md-block">Manage your portfolio worldwide</div>
						<div class="roadmap__item">
							<div class="roadmap__step">
								<div class="roadmap__title d-block d-md-none">Manage your portfolio worldwide</div>
								<div class="roadmap__step-title">Step 3</div>
								<div class="roadmap__step-text">Use the Pocket IP to manage your trademarks worldwide –
									automatically updated trademark and application statuses, trademark accounting,
									searches,
									and monitoring, filing a new trademark application, etc.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-primary">
			<div class="container-lg pb-5">
				<div class="form form-row m-0">
					<form>
						<div class="form-title text-white">Contact with us</div>
						<input type="text" placeholder="Name"/>
						<input type="text" placeholder="Email"/>
						<textarea placeholder="Message"></textarea>
						<input type="submit" value="Send">
					</form>
				</div>
			</div>
		</div>
	</section>

</main>
<footer class="footer">
	<div class="container-lg">
		<div class="row justify-content-lg-between">
			<div class="col-12 col-lg-3 mb-4 mb-lg-0 d-lg-flex flex-lg-column">
				<div class="mb-4">
					<div class="main-logo">
	<a href="/">
		<img src="../img/logo.svg" alt="Logo Pocket-ip">
	</a>
</div>

				</div>
				<div class="row row-cols-2 row-cols-lg-1 g-2 mb-4 ">
					<div class="col">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary w-100">Book a demo</a>
					</div>
					<div class="col">
						<a href="https://my.pocketip.com/" target="_blank" class="btn btn-primary-outline w-100">Try for free</a>
					</div>
				</div>
				<div class="d-none d-lg-block mt-auto">
					<img
						src="../img/five.png"
						SRCSET="../img/five.png, ../img/five@2x.png 2x"
						alt="">
				</div>
			</div>
			<div class="col-12 col-lg-8">
				<div class="footer-nav">
	<ul>
		<li class="menu-item-has-children">
			<a>Company</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Roadmap</a></li>
				<li><a href="#">Integrations</a></li>
				<li><a href="#">Status</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">API</a></li>
			</ul>
		</li>
		<li class="menu-item-has-children">
			<a>Sections</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
				<li><a href="#">Roadmap</a></li>
				<li><a href="#">Integrations</a></li>
				<li><a href="#">Status</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">TM options2</a></li>
			</ul>
		</li>
		<li class="menu-item-has-children">
			<a>Free Tools</a>
			<ul class="sub-menu">
				<li><a href="#">About us</a></li>
				<li><a href="#">We're Hiring!</a></li>
				<li><a href="#">Contact us</a></li>
				<li><a href="#">Help Center</a></li>
				<li><a href="#">Pricing</a></li>
			</ul>
		</li>
	</ul>
</div>

			</div>
			<div class="col-12">
				<div class="d-lg-flex justify-content-between footer__copy">
					<ul>
						<li>Copyright 2022</li>
						<li>All Rights Reserved By PocketIP Ltd</li>
						<li><a href="http://">Terms of Service</a></li>
						<li><a href="http://">Disclaimer</a></li>
						<li><a href="http://">Sitemap</a></li>
						<li><a href="http://">Privacy Policy</a></li>
					</ul>
					<div class="footer__social">
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-facebook.svg)" title="pocket-ip facebook">
							pocket-ip facebook
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-twitter.svg)" title="pocket-ip twitter">
							pocket-ip twitter
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-linkedin.svg)" title="pocket-ip linkedin">
							pocket-ip linkedin
						</a>
						<a href="https://facebook.com" class="footer__social-item"
						   style="background-image: url(../img/icons/ic-youtube-logo.svg)" title="pocket-ip youtube">
							pocket-ip youtube
						</a>
					</div>
					<div class="d-block d-lg-none mt-3 mt-lg-0">
						<img
								src="../img/five.png"
								SRCSET="../img/five.png, ../img/five@2x.png 2x"
								alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="modal modal-submit js-modal-submit">
	<div class="position-relative modal-submit__content">
		<button type="button" class="btn modal__btn-close js-modal-btn-close">
			<img src=" img/icons/ic-close-modal.svg" alt="menu">
		</button>
		<div class="box box--white box--lg box--radius-lg text-center">
			<div class="h2  mb-3">Thank you </div>
			<div class="paragraph  mb-4">We have received your message </div>
			<button type="button" class="btn btn-primary js-modal-btn-close">
				Okey
			</button>
		</div>
	</div>
</div>
<div class="modal modal-search js-modal-search">
	<div class="position-relative modal-search__content box box--white box--radius-lg text-center">
		<button type="button" class="btn modal__btn-close js-modal-btn-close">
			<img src=" img/icons/ic-close-modal.svg" alt="menu">
		</button>
		<div class="h2  mb-3">Search</div>
		<div class="form form-search">
			<form class="modal-search-form">
				<div class="form-search__container">
					<input type="text" placeholder="Search"/>
					<input type="submit" value="Search">
				</div>
			</form>
		</div>
		<div class="modal-search__result">
		</div>
	</div>
</div>

<script src="js/vendor.min.js"></script>
<script src="js/main.min.js"></script>
</body>
</html>
